<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Name
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Name" [(ngModel)]="name" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByname()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu4"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Agent Name
          </button>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Name" [(ngModel)]="agentName" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByAgentName()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu2"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Email
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Email" [(ngModel)]="email" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByEmail()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu5"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Address
          </button>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="Address"
                    [(ngModel)]="agentAddress"
                  />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByAddress()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
    </div>
    <div nz-col class="right-sec">
      <div>
        <a nz-button nzType="link" [routerLink]="['view-new-affliate']">
          <img src="./assets/icons/view_eye.svg" />
          &nbsp;
          <u>View New Affliate</u></a
        >
      </div>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzData]="allAffliateUsers"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th>
            <div class="border-start-th">NAME</div>
          </th>
          <th>
            <div class="border-middle-th">AGENT NAME</div>
          </th>
          <th>
            <div class="border-middle-th">EMAIL</div>
          </th>
          <th>
            <div class="border-middle-th">CONTACT NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">ADDRESS</div>
          </th>
          <th>
            <div class="border-middle-th">REGISTERED DATE</div>
          </th>
          <th>
            <div class="border-middle-th">STATUS</div>
          </th>
          <th>
            <div class="border-middle-th"></div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="border-middle">{{ data.name }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.agentName }}</div>
          </td>
          <td>
            <div class="border-middle">
              {{ data.email }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.contactNumber }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.address }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.registeredDate }}</div>
          </td>
          <td>
            <div class="border-middle">
              <div class="border-middle">
                <nz-switch
                  [(ngModel)]="data.status"
                  nzSize="small"
                  (click)="updateStatus(data)"
                ></nz-switch>
              </div>
            </div>
          </td>
          <td>
            <div class="border-middle">
              <img
                class="images"
                src="./assets/icons/ic_baseline-settings.svg"
                (click)="viewNewAffiliate(data)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      (nzPageIndexChange)="pageIndexChange($event)"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
