<form class="form-figure" [formGroup]="addNewRoleForm">
  <div>
    <nz-form-item>
      <nz-form-label
        >Role Name
        <span class="required-mark">*</span>
      </nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="roleName"
          class="modal-input"
          placeholder="Enter Role Name"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div>
    <nz-form-item>
      <nz-form-label
        >Role Descripton
        <span class="required-mark">*</span>
      </nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="roleDescription"
          class="modal-input"
          placeholder="Enter Role Description"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<div class="btn-row">
  <div>
    <button class="btn btn__cancel" (click)="close()">Cancel</button>
  </div>
  <div>
    <button class="btn btn__next" (click)="addNewRole()">Save Role</button>
  </div>
</div>
