<div class="modal_content">
    <div class="title-bar">
        <div nz-col [nzSpan]="12">
            <div class="comp_title">New Sub Agent</div>
        </div>
    </div>
    <nz-tabset [nzTabBarGutter]="2">
        <nz-tab nzTitle="Approval Pending Sub Agent">
            <app-approval-pending-sub-agent></app-approval-pending-sub-agent>
        </nz-tab>
        <nz-tab nzTitle="Declined Sub Agent">
            <app-declined-sub-agent></app-declined-sub-agent>
        </nz-tab>
        <nz-tab nzTitle="Verify pending Sub Agent">
            <app-verify-pending-sub-agent></app-verify-pending-sub-agent>
        </nz-tab>
    </nz-tabset>
</div>