<div class="modal_content">
  <nz-tabset [nzTabBarGutter]="2" class="modal_tabset">
    <nz-tab nzTitle="Beneficiary Basic Details">
      <app-view-beneficiaries-basic-details
        [incomingSelectedBeniId]="selectedBeniId"
        [incomingSelectedCountryiId]="selectedCountryId"
        [incomingIsCorporate]="valuseofisCoporate"
      ></app-view-beneficiaries-basic-details>
    </nz-tab>
    <nz-tab nzTitle="Bank Account Details">
      <app-view-beneficiaries-account-details
        [incomingSelectedBeniId]="selectedBeniId"
      ></app-view-beneficiaries-account-details>
    </nz-tab>
  </nz-tabset>
</div>
