<div class="heading2">Customer Basic Details</div>
<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>
      <div class="filter-inputs filter3">
        <button
          nz-dropdown
          [nzDropdownMenu]="menu1"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
          class="filter_btn"
        >
          Name
        </button>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Name"
                  class="start-amount"
                  [(ngModel)]="name"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterName($event)"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
          class="filter_btn"
        >
          E-mail
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder=" E-Mail"
                  class="start-amount"
                  [(ngModel)]="email"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterEmail()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu3"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Contact Number
        </button>
        <nz-dropdown-menu #menu3="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder=" Contact Number"
                  class="start-amount"
                  [(ngModel)]="telephoneNo"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterContactNumber()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu4"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Agent Name
        </button>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Agent Name"
                  class="start-amount"
                  [(ngModel)]="agentName"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterAgentName()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu5"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Address
        </button>
        <nz-dropdown-menu #menu5="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Address"
                  class="start-amount"
                  [(ngModel)]="address"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterAddress()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzData]="customerTransferFlowDetaisTable"
      [nzPageSize]="50"
      [nzScroll]="{ x: '1750px' }"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th>
            <div class="border-start-th">DATE</div>
          </th>
          <th>
            <div class="border-middle-th">FIRST NAME</div>
          </th>
          <th>
            <div class="border-middle-th">LAST NAME</div>
          </th>
          <th>
            <div class="border-middle-th">AGENT NAME</div>
          </th>
          <th>
            <div class="border-middle-th">TELEPHONE NO</div>
          </th>
          <th>
            <div class="border-middle-th">EMAIL</div>
          </th>
          <th>
            <div class="border-middle-th">ADDRESS</div>
          </th>
          <th>
            <div class="border-middle-th">POST CODE</div>
          </th>

          <th>
            <div class="border-middle-th">STATUS</div>
          </th>
          <th>
            <div class="border-middle-th">COUNTRY</div>
          </th>
          <th>
            <div class="border-middle-th">IP ADDRESS</div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="border-middle">
              {{ data.date | date : "yyyy-MM-dd" }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.firstName }}</div>
          </td>
          <td>
            <div class="border-middle">
              {{ data.lastName }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.agentName }}</div>
          </td>
          <td>
            <div class="border-middle">
              <div class="border-middle">{{ data.telephoneNo }}</div>
            </div>
          </td>

          <td>
            <div class="border-middle">{{ data.email }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.address }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.postalCode }}</div>
          </td>

          <td>
            <div class="border-middle">{{ data.status }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.country }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.ipAddress }}</div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      [nzTotal]="totalRecords"
      (nzPageIndexChange)="pageIndexChange($event)"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
