<form class="form-figure" [formGroup]="userDetailsGroupForm">
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Company Name
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Company01"
            formControlName="companyname"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Registration Number
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="1234" formControlName="registerno" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Agent Name <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="Agent01" formControlName="agentname" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Agent Reference
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="12" formControlName="agentreference" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Email Address <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Company01@gmail.com"
            formControlName="email"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Registered Address
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="123 Test Address"
            formControlName="registeredaddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Primary Contact Number
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="12344555588"
            formControlName="primarycontactno"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Secondary Contact Number
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="1233132343"
            formControlName="secondarycontactno"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Country <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            nzPlaceHolder="Select Country"
            nzSuffixIcon="caret-down"
            formControlName="basecountry"
            nzShowSearch
          >
            <nz-option nzValue="USD" nzLabel="USD"></nz-option>
            <nz-option nzValue="GBP" nzLabel="GBP"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Currency
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            nzPlaceHolder="Select Currency"
            nzSuffixIcon="caret-down"
            formControlName="basecurrency"
            nzShowSearch
          >
            <nz-option nzValue="USD" nzLabel="USD"></nz-option>
            <nz-option nzValue="GBP" nzLabel="GBP"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
