<div nz-row class="title-bar">
  <div nz-col [nzSpan]="12">
    <div class="comp_title">User Management</div>
  </div>
</div>

<div>
  <nz-tabset [nzSelectedIndex]="dataService.userManagementSelectedIndex">
    <nz-tab
      nzTitle="Platform Users"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_PLATFORM_USERS"
      ><app-platform-users></app-platform-users
    ></nz-tab>

    <nz-tab
      nzTitle="Agents"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_AGENTS"
      ><app-agents></app-agents
    ></nz-tab>
    <nz-tab
      nzTitle="Sub Agents"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_SUBAGENT"
    >
      <app-sub-agent></app-sub-agent>
    </nz-tab>
    <nz-tab
      nzTitle="Agent Customers"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_AGENT_CUSTOMER"
      ><app-agent-customers></app-agent-customers
    ></nz-tab>
    <nz-tab
      nzTitle="Corporate Users"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGMENT_CORPORATE"
      ><app-corporate-users></app-corporate-users
    ></nz-tab>
    <nz-tab
      nzTitle="Beneficiaries"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_BENEFICIARY"
      ><app-beneficiaries></app-beneficiaries
    ></nz-tab>
    <nz-tab
      nzTitle="Affiliate"
      *ngIf="this.privileges.CORE_SHOW_USER_MANAGEMENT_AFFILIATE_TAB"
      ><app-affiliate></app-affiliate
    ></nz-tab>
  </nz-tabset>
</div>
