@import '../../../../../assets/sass/index'

:host ::ng-deep .ant-select
    width: 100% !important  

.title-bar  
    justify-content: flex-start
    gap: 20px  

.download-btn    
    display: flex
    justify-content: flex-end
    align-items: center

.btn
    padding: 10px    
    