<div>
    <div nz-row class="model-header">
      <div nz-col [nzSpan]="5">
        <div *ngIf="step == 1" class="model-title">View Transfer</div>
        <div *ngIf="step == 2" class="model-title">User Details</div>
        <div *ngIf="step == 3" class="model-title">Benificiary Details</div>
        <div *ngIf="step == 4" class="model-title">Transfer Invoice</div>
      </div>
      <div nz-col [nzSpan]="19">
        <div nz-col class="steps-details">
          <nz-steps [nzCurrent]="currentStepIndex">
            <nz-step nzTitle="VIEW" [nzStatus]="currentStepStatus1"></nz-step>
            <nz-step nzTitle="USER" [nzStatus]="currentStepStatus2"></nz-step>
            <nz-step
              nzTitle="BENEFICIARY"
              [nzStatus]="currentStepStatus3"
            ></nz-step>
            <nz-step nzTitle="INVOICE" [nzStatus]="currentStepStatus4"></nz-step>
          </nz-steps>
        </div>
      </div>
    </div>
  
    <div class="form-content">
      <form [formGroup]="customerTransferFollowForm">
        <app-view
          formGroupName="viewTransferGroup"
          *ngIf="step === 1"
        ></app-view>
        <app-user-details
          formGroupName="userDetailsGroup"
          *ngIf="step === 2"
        ></app-user-details>
        <app-beneficiary-details
          formGroupName="beneficiaryDetailsGroup"
          *ngIf="step === 3"
        ></app-beneficiary-details>
        <app-invoice-details [getAllTransferFlowData]="getAllTransferFlowData" *ngIf="step === 4"></app-invoice-details>
      </form>
  
      <div *ngIf="isButtonEnable === true" class="button">
        <div *ngIf="step == 1">
          <button class="btn btn__cancel" (click)="close()">Cancel</button>
        </div>
  
        <div *ngIf="step == 2">
          <button class="btn btn__goback" (click)="prev()">Go Back</button>
        </div>
        <div *ngIf="step == 3">
          <button class="btn update-btn" (click)="updatebeneficiary()">Update Beneficiary</button>
        </div>
  
        <div *ngIf="step !== 3">
          <button class="btn btn__next" (click)="next()">Next</button>
        </div>
  
        <div *ngIf="step == 3">
          <button class="btn btn__review_confirmation" (click)="Confirmation()">
            Review and Confirmation
          </button>
        </div>
      </div>
    </div> 
  </div>
  