<form class="form-figure" [formGroup]="beneficiaryDetailsGroupForm">
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>First Name </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="First Name"
            class="modal-input"
            formControlName="firstNamebeni"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Last Name </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Last Name"
            class="modal-input"
            formControlName="lastNamebeni"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Contact Number </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Contact Number"
            class="modal-input"
            formControlName="contactNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="16" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Address </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Address"
            class="modal-input"
            formControlName="address"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Date of Birth</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Date of Birth"
            class="modal-input"
            formControlName="dateOfBirth"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Bank Name </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Bank Name"
            class="modal-input"
            formControlName="bankName"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Account Number</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Account Number"
            class="modal-input"
            formControlName="accountNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Bank Branch </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Bank Branch"
            class="modal-input"
            formControlName="bankBranch"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
