<div nz-row class="title-bar">
  <div nz-col [nzSpan]="12">
    <div class="comp_title">Transfer Limit</div>
  </div>
</div>

<div class="table-container">
  <div *ngIf="this.privileges.CORE_SHOW_TRANSFER_LIMIT_ADD_TRANSFER_LIMIT">
    <button class="btn transfer_button" (click)="addNewTransferLimit()">
      Add New Transfer Limit
    </button>
  </div>

  <nz-table
    #basicTable
    [nzData]="transferlimitdetails"
    [nzPageSize]="50"
    [nzShowPagination]="false"
  >
    <thead>
      <tr class="heading_tr">
        <th><div class="border-start-th">AGENT NAME</div></th>
        <th><div class="border-middle-th">AGENT CUSTOMER NAME</div></th>
        <th>
          <div class="border-middle-th">AGENT APPROVED SENDING CURRENCIES</div>
        </th>
        <th><div class="border-start-th">TRANSFER COUNT LIMIT</div></th>
        <th><div class="border-middle-th">TRANSFER AMOUNT LIMIT</div></th>
        <th>
          <div class="border-middle-th">DURATION</div>
        </th>
        <th><div class="border-middle-th"></div></th>
      </tr>
    </thead>

    <tbody class="body_tr">
      <tr *ngFor="let data of basicTable.data">
        <td>
          <div class="border-middle">{{ data.agentName }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.agentCustomerName }}</div>
        </td>
        <td>
          <div class="border-middle">
            {{ data.agentApprovedSendingCurrencies }}
          </div>
        </td>
        <td>
          <div class="border-middle">{{ data.transferLimitCount }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.transferAmountLimit }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.duration }}</div>
        </td>
        <td>
          <div class="border-middle">
            <img
              class="images"
              src="./assets/icons/edit.svg"
              (click)="updateNewTransferLimit(data)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="pagination-row">
  <nz-pagination
    class="pagination"
    [nzPageSize]="pageSize"
    [nzPageIndex]="currentPageIndex"
    (nzPageIndexChange)="pageIndexChange($event)"
    [nzTotal]="totalRecord"
    nzShowQuickJumper
    [nzShowTotal]="rangeTemplate"
  >
  </nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    <span>{{ range[0] }} of {{ total }} items</span>
  </ng-template>
</div>
