<div class="content">
  <div class="button-row">
    <div class="comp_title">Communication</div>
    <div>
      <button class="btn btn__cust" (click)="sendEmail()">
        Send New Email
      </button>
    </div>
  </div>

  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>
      <!--  -->
      <!-- <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu7"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Sender Email
        </button>
        <nz-dropdown-menu #menu7="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  [(ngModel)]="senderEmail"
                  nz-input
                  placeholder="Enter Sent By"
                  class="start-amount"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetSenderEmail()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div> -->
      <!-- <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu8"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Receiver Email
        </button>
        <nz-dropdown-menu #menu8="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  [(ngModel)]="receiverEmail"
                  nz-input
                  placeholder="Enter Received By"
                  class="start-amount"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetReceiverEmail()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div> -->
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu3"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Date
        </button>
        <nz-dropdown-menu #menu3="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="date-select">
                <nz-date-picker
                  nzPlaceHolder="Start Date"
                  class="start-date"
                  [nzAllowClear]="true"
                  [(ngModel)]="fromDate"
                  [nzFormat]="'yyyy-MM-dd'"
                  [nzDisabledDate]="disabledDate"
                ></nz-date-picker>
                <nz-date-picker
                  nzPlaceHolder="End Date"
                  [nzAllowClear]="true"
                  class="start-date"
                  [(ngModel)]="toDate"
                  [nzFormat]="'yyyy-MM-dd'"
                  [nzDisabledDate]="disabledDate"
                ></nz-date-picker>
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetDateFilter()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu4"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Subject
        </button>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Enter Subject"
                  class="start-amount"
                  [(ngModel)]="subject"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetSubject()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu5"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Status
        </button>
        <nz-dropdown-menu #menu5="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <nz-radio-group nzName="radiogroup">
                <div nz-row class="radio-group-row">
                  <div nz-col nzFlex="start">
                    <label nz-radio nzValue="CREATED" [(ngModel)]="statusSent"
                      >Sent</label
                    >
                  </div>
                  <div nz-col nzFlex="End">
                    <label
                      nz-radio
                      nzValue="CANCELLED"
                      [(ngModel)]="statusNotSent"
                      >Not Sent</label
                    >
                  </div>
                </div>
              </nz-radio-group>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetStatus()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="byStatus()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu6"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Sent By
        </button>
        <nz-dropdown-menu #menu6="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  [(ngModel)]="sentBy"
                  nz-input
                  placeholder="Enter Sent By"
                  class="start-amount"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetSentBy()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>

      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu7"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Received By
        </button>
        <nz-dropdown-menu #menu7="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  [(ngModel)]="receivedBy"
                  nz-input
                  placeholder="Enter Received By"
                  class="start-amount"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="receivedByfilter()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllCom()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
  <div class="heading2">Email List</div>
  <nz-table [nzPageSize]="50" [nzShowPagination]="false">
    <thead>
      <tr class="heading_tr">
        <th>
          <div class="border-start-th">SENT DATE</div>
        </th>
        <th>
          <div class="border-middle-th">SENT BY</div>
        </th>
        <th>
          <div class="border-middle-th">RECEIVED BY</div>
        </th>
        <th>
          <div class="border-middle-th">SUBJECT</div>
        </th>
        <th>
          <div class="border-middle-th">STATUS</div>
        </th>
      </tr>
    </thead>
    <tbody class="body_tr" *ngFor="let data of communicationData">
      <tr>
        <td>
          <div class="border-middle">{{ data.sentOn }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.sentBy }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.recieverEmail }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.subject }}</div>
        </td>
        <td class="status_orange" *ngIf="data.isSuccess == true">
          <div class="border-middle">Sent</div>
        </td>
        <td class="status_orange" *ngIf="data.isSuccess == false">
          <div class="border-middle">Not Sent</div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
