<div>
  <div class="tab_heading">Identity Modes</div>
  <div class="modal_table">
    <nz-table
      #identityModeTable
      [nzData]="tableData"
      [nzPageSize]="10"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>IDENTITY MODE DESCRIPTION</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody class="body_tr" *ngFor="let data of identityModeTable.data">
        <tr *ngIf="data.identiyModeDesc != null">
          <td>
            {{ data.identiyModeDesc }}
          </td>
          <td>
            <div>
              <nz-switch
                [ngModel]="data.isActive"
                nzSize="small"
                (click)="changeRoleStatus(data)"
              ></nz-switch>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
