<form class="form-figure" [formGroup]="maketransferForm">
  <div nz-row [nzGutter]="30">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Agent<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Select agent"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="agentName"
            (ngModelChange)="emitAgentChange($event)"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of allAgents"
              [nzValue]="data"
              [nzLabel]="data.agentName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Affiliate<span class="required-mark"></span
        ></nz-form-label>
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Select Affiliate"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="affiliateName"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.agentDetailsId"
              [nzLabel]="data.agentName"
              *ngFor="let data of affiliateAgents"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sub Agent<span class="required-mark"></span>
        </nz-form-label>
        <nz-form-control>
          <nz-select
            bindLabel=""
            nzPlaceHolder="Select Sub-Agent"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="subAgentName"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.agentDetailsId"
              [nzLabel]="data.agentName"
              *ngFor="let data of subAgents"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->

  <div nz-row [nzGutter]="30">
    <div nz-col nzLg="16" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Sender</nz-form-label>
        <nz-select
          nzAllowClear
          nzSuffixIcon="search"
          [nzShowSearch]="true"
          class="modal-dropdown"
          placeholder="Search Sender"
          formControlName="senderSearch"
          (nzOnSearch)="searchrxjs($event)"
          (ngModelChange)="onSelectedSender($event)"
          nzShowSearch
        >
          <nz-option
            *ngFor="let o of searchResult"
            [nzLabel]="o.nameEmail"
            [nzValue]="o"
          ></nz-option>
          <!-- <span nz-icon nzType="search" nzTheme="outline"></span> -->
        </nz-select>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Filter By </nz-form-label>
        <nz-form-control>
          <nz-select
            bindLabel="Paying By"
            nzPlaceHolder="Name"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="senderSearchType"
            [nzDisabled]="true"
            nzShowSearch
          >
            <nz-option nzValue="Name" nzLabel="Name"></nz-option>
            <nz-option nzValue="Agent" nzLabel="Agent"></nz-option>
            <nz-option nzValue="Sub Agent" nzLabel="Sub Agent"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->

  <div nz-row [nzGutter]="30">
    <div nz-col nzLg="12" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sending Currency<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Select Currency "
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="sendingCurrency"
            (ngModelChange)="changereceivingCurrency($event)"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data"
              [nzLabel]="data.currencyName + '-' + data.currencyCode"
              *ngFor="let data of agentSendingCurrency"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Recipient Currency<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <nz-select
            bindLabel=""
            nzPlaceHolder="Select Currency"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="recipientCurrency"
            (ngModelChange)="getAgentTransactionMode($event)"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data"
              [nzLabel]="data.currencyName + '-' + data.currencyCode"
              *ngFor="let data of agentReceivingCurrency"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->
  <div nz-row [nzGutter]="30">
    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sending Amount<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Sending Amount"
            class="modal-input"
            formControlName="sendingAmount"
            (ngModelChange)="calculateSendingAmount($event); validateNumber()"
            (change)="covertSendingToDecimal(); calculateRecAmt()"
          />
        </nz-form-control>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Receiving Amount<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Receiving Amount"
            class="modal-input"
            formControlName="receivingAmount"
            (ngModelChange)="
              calculateReceivingAmount($event); validateNumberRec()
            "
            (change)="calculateSendingAmt(); covertReceivingToDecimal()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Transfer As<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Transfer As"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="transferMode"
            (ngModelChange)="onChangeTransferMode($event)"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data"
              [nzLabel]="data.transactionModeDesc"
              *ngFor="let data of transactionMode"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Paying By<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Paying By"
            nzSuffixIcon="caret-down"
            nzAllowClear
            class="modal-dropdown"
            formControlName="paymentMode"
            (ngModelChange)="onChangePaymentferMode()"
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.agentPaymentModeId"
              [nzLabel]="data.paymentModeDto.paymentModeDesc"
              *ngFor="let data of paymentModedata"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!------------------------------------------------------------------------------------------------->

  <div nz-row [nzGutter]="30">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Rate</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Rate"
            class="modal-input"
            formControlName="rate"
            style="background-color: #f2f2f2"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Transaction Fee </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="0.00"
            class="modal-input"
            formControlName="transactionFee"
            (keyup)="changeTotalPayable($event)"
            [ngClass]="{
              disable:
                this.privileges.CORE_SHOW_MAKE_TRANSFER_TRANSFER_FEE_EDIT ===
                false,
              enable:
                this.privileges.CORE_SHOW_MAKE_TRANSFER_TRANSFER_FEE_EDIT ===
                true
            }"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Total Amount Payable </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="0.00"
            class="modal-input"
            formControlName="totalAmount"
            style="background-color: #f2f2f2"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
