<form class="form-figure">
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sub Agent Name
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="QAtest1 QAtest2" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Agent Name <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="qa_Spoton Money" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sub Agent Reference
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="SP" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Email
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="testalgorial@gmail.com" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Address <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="sg" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Registered Date <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="2022-08-11" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Primary Contact Number
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="456346546" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Secondary Contact Number
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="546546546" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Country <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="United Kingdom" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Currency
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="British Pound" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
