<div class="modal_content">
  <form>
    <div nz-row [nzGutter]="10">
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">COMPANY NAME</nz-form-label>
          <nz-form-control>
            <span class="span">{{ companyName }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">REG NUMBER </nz-form-label>
          <nz-form-control>
            <span class="span">{{ companyRegNumber }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">PHONE CODE</nz-form-label>
          <nz-form-control>
            <span class="span">{{ phoneCode }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">TELEPHONE NUMBER</nz-form-label>
          <nz-form-control>
            <span class="span">{{ telephoneNumber }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!------------------------------------------------------------------------------------------------->
    <div nz-row [nzGutter]="10">
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">MOBILE CODE</nz-form-label>
          <nz-form-control>
            <span class="span">{{ mobileCode }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">MOBILE NUMBER </nz-form-label>
          <nz-form-control>
            <span class="span">{{ mobileNumber }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">EMAIL</nz-form-label>
          <nz-form-control>
            <span class="span">{{ email }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">ADDRESS </nz-form-label>
          <nz-form-control>
            <span class="span">{{ address }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="10">
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">CITY</nz-form-label>
          <nz-form-control>
            <span class="span">{{ companyCity }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">COUNTRY </nz-form-label>
          <nz-form-control>
            <span class="span">{{ country }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">POST CODE</nz-form-label>
          <nz-form-control>
            <span class="span">{{ companyPostalCode }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">AML CHECK DATE </nz-form-label>
          <nz-form-control>
            <span class="span">{{ amlCheckDate }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="10">
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">REFERENCE CODE</nz-form-label>
          <nz-form-control>
            <span class="span">{{ refCode }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">REGISTERED DATE </nz-form-label>
          <nz-form-control>
            <span class="span">{{ registerDate }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label class="headings">REGISTERED FROM</nz-form-label>
          <nz-form-control>
            <span class="span">{{ registerFrom }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="10" class="button">
      <div class="left" nz-col nzLg="11" nzXs="24" nzSm="12" nzMd="12">
        <button class="btn btn__cancel" (click)="declineStatus()">
          Declined
        </button>
        <button class="btn btn__approved" (click)="accepet()">Approved</button>
      </div>
      <div class="right" nz-col nzLg="11" nzXs="24" nzSm="12" nzMd="12">
        <button class="btn btn__next" (click)="downloadDoc()">Download</button>
        <button class="btn btn__cancel" (click)="close()">Cancel</button>
      </div>
    </div>
  </form>
</div>
