<div class="form-figure">
  <div nz-row class="row1" [nzGutter]="10">
    <div class="row-align" nz-col nzLg="3" nzXs="24" nzSm="12" nzMd="12">
      <div style="font-size: 12px; color: #4f4f4f; font-weight: 600">
        Select Role:
      </div>
    </div>
    <div class="row-align" nz-col nzLg="5" nzXs="24" nzSm="12" nzMd="12">
      <nz-select
        class="dropdown"
        nzSuffixIcon="caret-down"
        nzPlaceHolder="Select Role"
        [ngModel]="selectedRoleId"
        (ngModelChange)="selectedRole($event)"
        nzShowSearch
      >
        <nz-option
          *ngFor="let role of allRoles"
          [nzValue]="role.roleId"
          [nzLabel]="role.roleName"
        ></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="contents">
    <div
      nz-row
      class="row1 cont"
      [nzGutter]="10"
      *ngFor="let data of rolePrivilages"
    >
      <div class="row-align" nz-col nzLg="6" nzXs="24" nzSm="12" nzMd="12">
        <div>{{ data.privilegeDescription }}</div>
      </div>
      <div class="row-align" nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12">
        <nz-switch nzSize="small" [(ngModel)]="data.isActive"></nz-switch>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div class="btn-row">
    <div>
      <button class="btn btn__cancel" (click)="close()">Cancel</button>
    </div>
    <div>
      <button class="btn btn__next" (click)="assign()">Assign</button>
    </div>
  </div>
</div>
