<div class="modal-content">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="basicInformation">
    <div nz-row [nzGutter]="10">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label
            >First Name<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="First Name"
              formControlName="firstName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label
            >Last Name<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Last Name "
              formControlName="lastName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Date Of Birth<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker
              class="date"
              nzMode="date"
              formControlName="dateOfBirth"
              readOnly="txtReadOnly"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Place Of Birth<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Place Of Birth"
              formControlName="placeOfBirth"
              readOnly="txtReadOnly"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="10">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Telephone Number<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Telephone Number"
              formControlName="telephoneNumber"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Mobile Number<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Mobile Number"
              formControlName="mobileNumber"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Email<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="email"
              placeholder="Email"
              formControlName="email"
              (change)="checkUsernameAvailability()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label
            >Address<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="address"
              formControlName="address"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="10">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >City<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="City"
              formControlName="city"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Country<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-select
              nzAllowClear
              nzShowSearch
              class="dropdown"
              items="countries"
              nzPlaceHolder="Select Country"
              formControlName="country"
              nzSuffixIcon="caret-down"
            >
              <nz-option
                *ngFor="let data of signUpCountryList"
                [nzValue]="data.countryId"
                [nzLabel]="data.countryName"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Post Code<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Post Code"
              formControlName="postCode"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Nationality<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <nz-select
              class="dropdown"
              items="nationality"
              bindLabel="nationality"
              nzPlaceHolder="Select nationality"
              formControlName="nationality"
              nzSuffixIcon="caret-down"
              nzAllowClear
              nzShowSearch
            >
              <nz-option
                *ngFor="let data of nationalitiesList"
                [nzValue]="data.nationalityDetailsId"
                [nzLabel]="data.nationality"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="10">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >State Or Province<span class="required-mark"
              >*</span
            ></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="State Or Province "
              formControlName="stateOrProvince"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >AML Check Date<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker
              formControlName="amlCheckDate"
              [nzDisabledDate]="disabledPastDates"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Registered Date<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker
              class="date"
              formControlName="registeredDate"
              nzDisabled
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label
            >Registered From <span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Registered From"
              formControlName="registeredFrom"
              readOnly="txtReadOnly"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div
    class="btn-row gap"
    *ngIf="this.privileges.CORE_SHOW_NEW_CUSTOMERS_DOWNLOAD_BUTTON"
  >
    <div>
      <button nz-button class="btn btn__download" (click)="download()">
        Download
      </button>
    </div>
    <div *ngIf="!viewNewAgentCustomer">
      <button nz-button class="btn btn__download" (click)="downloadAMLReport()">
        Download AML Report (ID Scan)
      </button>
    </div>
    <div>
      <button
        nz-button
        class="btn btn__download"
        (click)="downloadAMLCreditSafeReport()"
      >
        Download AML Report (Credit Safe)
      </button>
    </div>
  </div>

  <div nz-row class="btn-row">
    <div nz-col [nzSpan]="12">
      <div *ngIf="viewNewAgentCustomer" class="view_btn">
        <button nz-button class="btn btn__cancel" (click)="decline()">
          Declined
        </button>

        <button nz-button class="btn btn__approve" (click)="accept()">
          Approved
        </button>
      </div>
    </div>

    <div nz-col [nzSpan]="12">
      <div class="view_btn flex-end">
        <button nz-button class="btn btn__cancel" (click)="closeModal()">
          Cancel
        </button>

        <button nz-button class="btn btn__high_orange" (click)="update()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
