<div class="modal_content">
  <div class="input-sec">
    <div nz-row [nzGutter]="10">
      <div nz-col [nzSpan]="10">
        <nz-form-item>
          <nz-form-label>Agent Approved Sending Currencies : </nz-form-label>
          <nz-form-control>
            <nz-select
              class="modal-dropdown"
              nzAllowClear
              nzShowSearch
              nzPlaceHolder="Approved Sending Currencies"
              nzSuffixIcon="caret-down"
              [(ngModel)]="sendingCurrency"
            >
              <nz-option
                *ngFor="let data of currencyList"
                [nzLabel]="data.currencyCode + ' ' + data.currencyName"
                [nzValue]="data.agentTransferApprovedSendingCurrenciesId"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="10" nzOffset="4">
        <nz-form-item>
          <nz-form-label>Agent Approved Receiving Currencies : </nz-form-label>
          <nz-form-control>
            <nz-checkbox-wrapper
              style="width: 100%"
              (nzOnChange)="getSelectedReceivingCurrencyList($event)"
            >
              <div nz-row *ngFor="let data of recievingCurrencyList">
                <div nz-col nzSpan="24">
                  <label
                    nz-checkbox
                    [nzValue]="data.agentTransferApprovedReceivingCurrenciesId"
                    >{{ data.currencyCode + "-" + data.currencyName }}</label
                  >
                </div>
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="btn_row">
      <div>
        <button class="btn btn__cancel" (click)="cancel()">Cancel</button>
      </div>
      <div>
        <button class="btn btn__next" (click)="update()">Update</button>
      </div>
    </div>
  </div>

  <div class="content">
    <div>
      <span style="font-size: 20px; font-weight: 600"
        >Agent Approved Sending Receiving Currencies</span
      >
    </div>
    <div class="table-container">
      <nz-table
        #basicTable
        [nzData]="tableData"
        [nzPageSize]="50"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th>
              <div>AGENT APPROVED SENDING CURRENCIES</div>
            </th>
            <th>
              <div>AGENT APPROVED RECEIVING CURRENCIES</div>
            </th>
            <th><div></div></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <div>
                {{
                  data.agentTransferApprovedSendingCurrencyCode +
                    "-" +
                    data.agentTransferApprovedSendingCurrencyName
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                  data.agentTransferApprovedReceivingCurrencyCode +
                    "-" +
                    data.agentTransferApprovedReceivingCurrencyName
                }}
              </div>
            </td>
            <td>
              <div>
                <nz-switch
                  [ngModel]="data.isActive"
                  nzSize="small"
                  (ngModelChange)="updateStatus(data)"
                ></nz-switch>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="pagination-row">
      <nz-pagination
        class="pagination"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageNumber"
        [nzTotal]="totalRecords"
        nzShowQuickJumper
        [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="pageIndexChange($event)"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[0] }} of {{ total }} items</span>
      </ng-template>
    </div>
  </div>
</div>
