<form class="form-body" [formGroup]="beneficiarybasicdetails">
  <!------------------------------------------------------------------------------------------------->
  <div class="custome-filter">
    <div nz-row [nzGutter]="2">
      <nz-form-item nz-col nzLg="3" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-label class="benefi-lable"
          ><span class="bene">Beneficiary Type:</span>
          <sup
            ><span
              nz-icon
              nzType="info-circle"
              nzTheme="outline"
              style="color: #f45300"
              [nz-tooltip]="
                !isCoporate
                  ? 'For corporate beneficiary move the switch to right'
                  : 'For personal beneficiary move the switch to left'
              "
            ></span
          ></sup>
        </nz-form-label>
      </nz-form-item>
      <div class="switch_row">
        <div nz-col>
          <p style="color: #00a2dc; font-weight: 700" *ngIf="isCoporate">
            Personal
          </p>
          <p style="color: #828282; font-weight: 700" *ngIf="!isCoporate">
            Personal
          </p>
        </div>

        <div nz-col [nzSpan]="2">
          <nz-switch
            nzSize="small"
            [(ngModel)]="incomingIsCorporate"
            [nzDisabled]="isEditable"
            (ngModelChange)="updateCoporate()"
            formControlName="coporateSwitch"
          ></nz-switch>
        </div>

        <div nz-col [nzSpan]="2" class="corporate">
          <p style="color: #f45300; font-weight: 700" *ngIf="!isCoporate">
            Corporate
          </p>
          <p style="color: #828282; font-weight: 700" *ngIf="isCoporate">
            Corporate
          </p>
        </div>
      </div>
    </div>
  </div>

  <div nz-row [nzGutter]="10" *ngIf="!isCoporate">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8">
      <nz-form-item>
        <nz-form-label>
          Company Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Company Name"
            class="modal-input"
            formControlName="companyName"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="8" nzSm="4" nzMd="2" nzLg="3">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="corporateCoCode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of codeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="16" nzSm="8" nzMd="6" nzLg="5">
      <nz-form-item>
        <nz-form-label
          >Contact Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Contact Number "
            class="modal-input"
            formControlName="coporateCoNo"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="8" nzSm="4" nzMd="2" nzLg="3">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="corporateMoCode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of codeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="16" nzSm="8" nzMd="6" nzLg="5">
      <nz-form-item>
        <nz-form-label
          >Mobile Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Mobile Number "
            class="modal-input"
            formControlName="corporateMoNo"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="10" *ngIf="!isCoporate">
    <div nz-col nzLg="16" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Address<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Address"
            class="modal-input"
            formControlName="coporateAddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="10" *ngIf="isCoporate">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          First Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder=" First Name"
            class="modal-input"
            formControlName="firstName"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Last Name<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Last Name"
            class="modal-input"
            formControlName="lastName"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="3" nzXs="7" nzSm="7" nzMd="24">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="PerosnalCoCode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of codeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="5" nzXs="9" nzSm="9" nzMd="4">
      <nz-form-item>
        <nz-form-label
          >Contact Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Contact Number "
            class="modal-input"
            formControlName="personalContactNumber"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->
  <div nz-row [nzGutter]="10" *ngIf="isCoporate">
    <div nz-col nzLg="3" nzXs="7" nzSm="7" nzMd="24">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="personalMocode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of codeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="5" nzXs="9" nzSm="9" nzMd="4">
      <nz-form-item>
        <nz-form-label
          >Mobile Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Mobile Number "
            class="modal-input"
            formControlName="perosnalMoNo"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="16" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Address<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Address"
            class="modal-input"
            formControlName="perosnalAddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="10" *ngIf="isCoporate">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Date of Birth<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control nzSpan="">
          <nz-date-picker
            nzPlaceHolder="Date Of Birth"
            [nzShowToday]="false"
            [nzFormat]="'dd-MM-yyyy'"
            class="custom-date-picker"
            id="idexpireDate"
            formControlName="dob"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Place of Birth<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Place of Birth"
            class="modal-input"
            formControlName="pob"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Nationality <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Select Nationality"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="nationality"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of nationalityData"
              [nzValue]="data.nationalityDetailsId"
              [nzLabel]="data.nationality"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="10"></div>
  <div class="button">
    <button class="btn btn__goback" (click)="close()">GO Back</button>
    <button class="btn btn__next" (click)="test()">Update Beneficiary</button>
  </div>
</form>
