<h1 class="heading2">Customer Transfer Follow Step Details</h1>
<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>
      <div class="filter-inputs filter3">
        <button
          nz-dropdown
          [nzDropdownMenu]="menu1"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
          class="filter_btn"
        >
          Agent Name
        </button>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Enter Agent Name"
                  class="start-amount"
                  [(ngModel)]="agentName"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flterAgentName()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="filter-inputs filter3">
        <button
          class="filter_btn"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
          class="filter_btn"
        >
          Customer Ref
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="amount-select">
                <input
                  nz-input
                  placeholder="Enter Customer Ref."
                  class="start-amount"
                  [(ngModel)]="customerReference"
                />
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button nz-button class="btn btn__high_orange" (click)="reset()">
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="flteCustomerReference()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzData]="customerTransferFlowDetaisTable"
      [nzPageSize]="50"
      [nzScroll]="{ x: '1950px' }"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th>
            <div class="border-start-th">DATE</div>
          </th>
          <th>
            <div class="border-middle-th">SEND AMOUNT</div>
          </th>
          <th>
            <div class="border-middle-th">CUSTOMER REFERENCE</div>
          </th>
          <th>
            <div class="border-middle-th">RECEIVING CURRENCY</div>
          </th>
          <th>
            <div class="border-middle-th">PAYMENT MODE</div>
          </th>
          <th>
            <div class="border-middle-th">TRANSFER MODE</div>
          </th>
          <th>
            <div class="border-middle-th">TOTAL PAYABLE AMOUNT</div>
          </th>
          <th>
            <div class="border-middle-th">SENDER NAME</div>
          </th>

          <th>
            <div class="border-middle-th">AGENT NAME</div>
          </th>
          <th>
            <div class="border-middle-th">TELEPHONE NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">BENEFICIARY NAME</div>
          </th>
          <th>
            <div class="border-middle-th">STATUS</div>
          </th>
          <th>
            <div class="border-middle-th">IP ADDRESS</div>
          </th>

          <th>
            <div class="border-end-th"></div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="border-middle">
              {{ data.date?.split(" ")[0] }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.sendAmount }}</div>
          </td>
          <td>
            <div class="border-middle">
              {{ data.customerReference }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.receivingCurrency }}</div>
          </td>
          <td>
            <div class="border-middle">
              <div class="border-middle">{{ data.paymentMode }}</div>
            </div>
          </td>

          <td>
            <div class="border-middle">{{ data.transferMode }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.totalPayableAmount }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.senderName }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.agentName }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.telephoneNumber }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.beneficiaryName }}</div>
          </td>

          <td>
            <div class="border-middle">{{ data.status }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.ipAddress }}</div>
          </td>

          <td>
            <div (click)="view(data)" class="border-end">
              <img class="images" src="./assets/icons/icons8-eye-30.png" />
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      [nzTotal]="totalRecords"
      (nzPageIndexChange)="pageIndexChange($event)"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
