<div class="tab-header">
  <div nz-row>
    <div nz-col nzLg="6">
      <nz-form-control>
        <nz-form-label
          >Sending Currencies :<span class="required-mark"
            >*</span
          ></nz-form-label
        >

        <nz-form-item *ngFor="let data of countryData">
          <label nz-checkbox [nzValue]="data.countryId">{{
            data.currencyName
          }}</label>
        </nz-form-item>
      </nz-form-control>
    </div>

    <!-- <div nz-col nzLg="6">
      <nz-form-control>
        <nz-form-label><span class="required-mark"></span></nz-form-label>

        <nz-form-item>
          <label nz-checkbox>NPR </label>
          <label nz-checkbox>USD </label>
          <label nz-checkbox>GHS </label>
          <label nz-checkbox>NGN </label>
          <label nz-checkbox>EUR </label>
          <label nz-checkbox>EUR </label>
          <label nz-checkbox>EUR </label>
          <label nz-checkbox>BDT </label>
          <label nz-checkbox>EUR </label>
          <label nz-checkbox>AUD </label>
          <label nz-checkbox>BGN </label>
        </nz-form-item>
      </nz-form-control>
    </div> -->

    <!-- <div nz-col nzLg="6">
      <nz-form-control>
        <nz-form-label><span class="required-mark"></span></nz-form-label>

        <nz-form-item>
          <label nz-checkbox>CZK </label>
          <label nz-checkbox>DKK </label>
          <label nz-checkbox>GIP </label>
          <label nz-checkbox>HUF </label>
          <label nz-checkbox>ISK </label>
          <label nz-checkbox>CHF </label>
          <label nz-checkbox>NOK </label>
          <label nz-checkbox>PLN </label>
          <label nz-checkbox>SEK </label>
          <label nz-checkbox>LKR </label>
          <label nz-checkbox>CNY </label>
        </nz-form-item>
      </nz-form-control>
    </div> -->

    <!-- <div nz-col nzLg="6">
      <nz-form-control>
        <nz-form-label><span class="required-mark"></span></nz-form-label>

        <nz-form-item>
          <label nz-checkbox>CHF </label>
          <label nz-checkbox>SGD </label>
          <label nz-checkbox>HRK </label>
          <label nz-checkbox>KES </label>
          <label nz-checkbox>RON </label>
        </nz-form-item>
      </nz-form-control>
    </div> -->
  </div>
  <div nz-row>
    <div nz-col nzLg="6">
      <nz-form-control>
        <nz-form-label
          >Receiving Currencies :
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-item *ngFor="let data of currencydata">
          <label nz-checkbox [nzValue]="data.countryId">{{
            data.currencyName
          }}</label>
        </nz-form-item>
       
      </nz-form-control>
    </div>

   
    

   
  </div>
</div>
