<div class="tab-header">
  <div nz-col [nzSpan]="24" class="header-section">
    <nz-steps [nzCurrent]="currentStepIndex">
      <nz-step
        nzTitle="Basic Information"
        [nzStatus]="currentStepStatus1"
      ></nz-step>
      <nz-step
        *ngIf="!dataService.selectedData"
        nzTitle="Documentation"
        [nzStatus]="currentStepStatus2"
      ></nz-step>
      <nz-step nzTitle="Countries" [nzStatus]="currentStepStatus3"></nz-step>
      <nz-step nzTitle="Currencies" [nzStatus]="currentStepStatus4"></nz-step>
    </nz-steps>
  </div>
  <div class="step-content">
    <form [formGroup]="agentForm">
      <app-add-new-basic-information
        formGroupName="basicInformation"
        *ngIf="step === 1"
      ></app-add-new-basic-information>
      <app-add-new-documentation
        formGroupName="documentation"
        *ngIf="step === 2 && !dataService.selectedData"
      ></app-add-new-documentation>
      <app-add-new-agent-countries
        formGroupName="countryFormGroup"
        *ngIf="step === 3"
      ></app-add-new-agent-countries>
      <app-add-new-agent-currencies
        *ngIf="step === 4"
      ></app-add-new-agent-currencies>
    </form>
    <div class="button">
      <div *ngIf="step == 1">
        <button class="btn btn__cancel" (click)="close()">Cancel</button>
      </div>
      <div *ngIf="step !== 1">
        <button class="btn btn__cancel" (click)="prev()">Go Back</button>
      </div>
      <div *ngIf="step !== 4">
        <button class="btn btn__next" (click)="next()">Next</button>
      </div>

      <div *ngIf="step == 4">
        <button class="btn btn__next" (click)="Update()">
          {{ dataService.selectedData ? "Update Agent" : "Add Agent" }}
        </button>
      </div>
    </div>
  </div>
</div>
