<div class="model">
  <div class="modal-content">
    <h3 class="head3">Forgot Your Password?</h3>
    <form
      nz-form
      [nzLayout]="'vertical'"
      [nzAutoTips]="autoTips"
      [formGroup]="forgotPasswordForm"
    >
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label
              >Email Address<span class="required-mark"> * </span>
            </nz-form-label>
            <nz-form-control>
              <input
                type="email"
                id="email"
                name="email"
                formControlName="emailAddress"
                placeholder="E-mail Address"
                class="forgot-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="btn-row">
        <button nz-button class="btn btn-design cancel-btn" (click)="cancel()">
          Cancel
        </button>
        <button nz-button class="btn btn-design submit-btn" (click)="submit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
