<div nz-row class="title-bar">
  <div nz-col [nzSpan]="10">
    <div class="comp_title">Pending Cash Collection</div>
  </div>
</div>
<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>

      <div nz-col [nzSpan]="6">
        <button
          nz-button
          nz-dropdown
          class="filter_btn"
          [nzDropdownMenu]="menu2"
          nzPlacement="bottomCenter"
          [nzClickHide]="false"
          nzTrigger="click"
        >
          Date
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <div class="date-select">
                <nz-date-picker
                  [(ngModel)]="startDate"
                  nzPlaceHolder="Start Date"
                  [nzAllowClear]="true"
                  [nzDisabledDate]="disabledFutureDates"
                ></nz-date-picker>
                <nz-date-picker
                  [(ngModel)]="endDate"
                  nzPlaceHolder="End Date"
                  [nzAllowClear]="true"
                  [nzDisabledDate]="disabledFutureDates"
                ></nz-date-picker>
              </div>
            </li>
            <li nz-menu-item class="btn__section">
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="resetDateFilter()"
              >
                Reset
              </button>
              <button
                nz-button
                class="btn btn__high_orange"
                (click)="getAllPendingCashDetails()"
              >
                Save
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div nz-col [nzSpan]="6">
        <ng-container>
          <button
            nz-button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu7"
            nzPlacement="bottomCenter"
            nzTrigger="click"
            [nzClickHide]="false"
          >
            Total payable
          </button>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="Start Amount"
                    [(ngModel)]="startAmount"
                  />
                </div>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="End Amount"
                    [(ngModel)]="endAmount"
                  />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetTotalPaybaleFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllPendingCashDetails()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
      <div class="custom_dropdown_color" nz-col [nzSpan]="6">
        <ng-container>
          <button
            nz-button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Agent Name
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <nz-select
                  class="dropdown"
                  items="clientNames"
                  nzSuffixIcon="caret-down"
                  bindLabel="clientName"
                  nzPlaceHolder="Select Agent"
                  [(ngModel)]="agentName"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let data of FeeTypes"
                    [nzValue]="data.name"
                    [nzLabel]="data.name"
                  ></nz-option>
                </nz-select>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetagentNameFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllPendingCashDetails()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <!-- <div nz-col nzSpan="12" class="right-sec">
                <h3 [routerLink]="['new-platform-users']">
                  <img src="../../../../../../assets/icons/view-eye-red.svg" />View New
                  Platform Users
                </h3>
              </div> -->
    </div>
  </div>
</div>

<div class="table-container">
  <nz-table
    #basicTable
    [nzData]="pendingcashDetails"
    [nzShowPagination]="false"
  >
    <thead>
      <tr class="heading_tr">
        <th>
          <div class="border-start-th">TRANFER DATE</div>
        </th>
        <th>
          <div class="border-middle-th">TRANSFER REFERENCE</div>
        </th>
        <th>
          <div class="border-middle-th">SENDER FULLNAME</div>
        </th>
        <th>
          <div class="border-middle-th">SEND AMOUNT</div>
        </th>
        <th>
          <div class="border-middle-th">TOTAL PAYABLE</div>
        </th>
        <th>
          <div class="border-middle-th">COLLECTED BY <BR />COLLECTION</div>
        </th>
        <th>
          <div class="border-middle-th">
            DATE
            <BR /> COLLECTED BY <BR /> COLLECTOR
          </div>
        </th>
        <th>
          <div class="border-middle-th">COLLECTED BY <BR /> AGENT</div>
        </th>
        <th>
          <div class="border-middle-th">
            DATE
            <BR /> COLLECTED BY <BR />AGENT
          </div>
        </th>
      </tr>
    </thead>

    <tbody class="body_tr">
      <tr *ngFor="let data of basicTable.data">
        <td>
          <div class="border-middle">
            {{ data.transferDate | slice : 0 : 10 }}
          </div>
        </td>
        <td>
          <div class="border-middle">{{ data.transferReference }}</div>
        </td>
        <td>
          <div class="border-middle">
            {{ data.senderFullName }}
          </div>
        </td>
        <td>
          <div class="border-middle">{{ data.sendAmount }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.totalPayable }}</div>
        </td>
        <td>
          <div class="border-middle">
            <div class="border-middle">
              <nz-switch nzSize="small" [nzDisabled]="true"></nz-switch>
            </div>
          </div>
        </td>

        <td>
          <div class="border-middle">{{ data.dateCollectedByCollector }}</div>
        </td>
        <td>
          <div class="border-middle">
            <div class="border-middle">
              <nz-switch nzSize="small" [nzDisabled]="true"></nz-switch>
            </div>
          </div>
        </td>
        <td>
          <div class="border-middle">{{ data.dateCollectedByAgent }}</div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      (nzPageIndexChange)="pageIndexChange($event)"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
