<form class="form-figure" [formGroup]="userDetailsGroupForm">
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>First Name </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="First Name"
            class="modal-input"
            formControlName="firstname"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Last Name </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Last Name"
            class="modal-input"
            formControlName="lastname"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Code </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Code"
            class="modal-input"
            formControlName="code1"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Telephone(Landline) </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Landline Number"
            class="modal-input"
            formControlName="telephonelane"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Code </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Code"
            class="modal-input"
            formControlName="code1"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="6" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Telephone(Mobile) </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Mobile Number"
            class="modal-input"
            formControlName="telephonemobile"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Email Address</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Email Address"
            class="modal-input"
            formControlName="email"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Residential Address </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Residential Address"
            class="modal-input"
            formControlName="residentialaddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>City</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="city"
            class="modal-input"
            formControlName="city"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Status/Province </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Status/province"
            class="modal-input"
            formControlName="state"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Nationality </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Nationality"
            class="modal-input"
            formControlName="nationality"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Paying by </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder=""
            class="modal-input"
            formControlName="payingby"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Postal code/Zip</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Postal code"
            class="modal-input"
            formControlName="postalcode"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div *ngFor="let data of transactionSummaryData">
      <div class="summary">{{ data.title }}-{{ data.amount }}</div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->
</form>
