<div class="modal-content">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="primaryIdentityForm">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Select ID Type<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-select
              class="dropdown"
              nzSuffixIcon="caret-down"
              nzPlaceHolder="Select ID Type"
              formControlName="identityTypeDetails"
              (ngModelChange)="changeIdType($event); hideBackImgUpload()"
              nzShowSearch
            >
              <nz-option
                *ngFor="let data of identityTypes"
                [nzValue]="data.identityModeId"
                [nzLabel]="data.identiyModeDesc"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Identity Number<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              type="text"
              placeholder="Identity Number"
              formControlName="identityNumber"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Issue Date<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker
              formControlName="issueDate"
              [nzDisabledDate]="disabledFutureDates"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Expiry Date<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker formControlName="expiryDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >AML Check Status<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <nz-select
              class="dropdown"
              nzSuffixIcon="caret-down"
              nzPlaceHolder="Select AML Check Status"
              id="amlCheckStatus"
              formControlName="amlCheckStatus"
              nzShowSearch
            >
              <nz-option nzValue="PASSED" nzLabel="PASSED"></nz-option>
              <nz-option nzValue="FAILED" nzLabel="FAILED"></nz-option>
              <nz-option nzValue="EXPIRED" nzLabel="EXPIRED"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div nz-row [nzGutter]="[16, 16]" class="btn-row">
    <div nz-col [nzSpan]="4">
      <button nz-button class="btn" (click)="updateIdDetails()">Update</button>
    </div>
  </div>
</div>

<div class="modal-content">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="primaryIdentityUploadForm">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Select ID Type<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <nz-select
              class="dropdown"
              items="identityTypes"
              nzSuffixIcon="caret-down"
              nzPlaceHolder="Select ID Type"
              id="identityType"
              formControlName="identityType"
              nzShowSearch
            >
              <nz-option
                *ngFor="let data of identityTypes"
                [nzValue]="data.identityModeId"
                [nzLabel]="data.identiyModeDesc"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label>Upload ID - Front</nz-form-label>
          <nz-form-control nzSpan="">
            <div nz-row nzType="flex" class="img-upload-box">
              <img
                *ngIf="frontAvatarUrl"
                [src]="frontAvatarUrl"
                class="img-preview"
              />
              <nz-upload
                class="upload"
                [(nzFileList)]="frontFileList"
                [nzShowButton]="frontFileList.length < 1"
                [nzRemove]="removeFrontData"
                [nzBeforeUpload]="beforeFrontUpload"
                [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzLimit]="1"
              >
                <button nz-button id="frontBtn" class="upload-btn">
                  <img src="./assets/icons/cloud-upload.svg" />
                  <p class="img-upload-para">
                    Drag and Drop file here to upload
                  </p>
                  <p
                    class="img-upload-para"
                    style="font-size: 12px; font-style: italic"
                  >
                    *.jpeg, *.jpg, *.png & *.bmp images only
                  </p>
                </button>
              </nz-upload>
              <span
                nz-icon
                nzType="eye"
                nzTheme="outline"
                *ngIf="frontAvatarUrl"
                class="view-preview-icon"
                (click)="viewFrontIdPreview()"
              ></span>
              <!-- <i
                nz-icon
                nzType="eye"
                nzTheme="outline"
                *ngIf="frontAvatarUrl"
                class="view-preview-icon"
                (click)="viewFrontIdPreview()"
              ></i> -->
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12" *ngIf="showBackImgUpload">
        <nz-form-item>
          <nz-form-label>Upload ID - Back</nz-form-label>
          <nz-form-control nzSpan="">
            <div nz-row nzType="flex" class="img-upload-box">
              <img
                *ngIf="backAvatarUrl"
                [src]="backAvatarUrl"
                class="img-preview"
              />
              <nz-upload
                class="upload"
                [(nzFileList)]="backFileList"
                [nzShowButton]="backFileList.length < 1"
                [nzRemove]="removeBackData"
                [nzBeforeUpload]="beforeBackUpload"
                [nzShowUploadList]="true"
                [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzLimit]="1"
              >
                <button nz-button id="backBtn" class="upload-btn">
                  <img src="./assets/icons/cloud-upload.svg" />
                  <p class="img-upload-para">
                    Drag and Drop file here to upload
                  </p>
                  <p
                    class="img-upload-para"
                    style="font-size: 12px; font-style: italic"
                  >
                    *.jpeg, *.jpg, *.png & *.bmp images only
                  </p>
                </button>
              </nz-upload>
              <span
                nz-icon
                nzType="eye"
                nzTheme="outline"
                *ngIf="backAvatarUrl"
                class="view-preview-icon"
                (click)="viewBackIdPreview()"
              ></span>
              <!-- <i
                nz-icon
                nzType="eye"
                nzTheme="outline"
                *ngIf="backAvatarUrl"
                class="view-preview-icon"
                (click)="viewBackIdPreview()"
              ></i> -->
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div nz-row [nzGutter]="[16, 16]" class="btn-row">
    <div nz-col [nzSpan]="4">
      <button nz-button class="btn btn__cancel" (click)="clear()">
        Cancel
      </button>
    </div>

    <div nz-col [nzSpan]="4">
      <button nz-button class="btn" (click)="update()">Upload</button>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="previewModalVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
  ><ng-container *nzModalContent>
    <img *ngIf="viewFront" [src]="frontAvatarUrl" class="modal-img-preview" />
    <img *ngIf="viewBack" [src]="backAvatarUrl" class="modal-img-preview" />
  </ng-container>
</nz-modal>

<div class="table-content">
  <div nz-row class="table-title-row">
    <div nz-col [nzSpan]="24">
      <h4>Uploaded Files</h4>
    </div>
  </div>
  <div style="padding-bottom: 25px">
    <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
      <div nz-col [nzSpan]="6" class="table-col">
        <span>UPLOADED DATE</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>FRONT IMAGE NAME</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>BACK IMAGE NAME</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>ID/FILE TYPE</span>
      </div>
    </div>

    <div
      nz-row
      [nzGutter]="[16, 16]"
      class="table-row data-row"
      *ngFor="let data of customerData"
    >
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.uploadedDate | date : "yyyy-MM-dd" }}</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.frontImageName }}</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.backImageName }}</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.fileType }}</span>
      </div>
    </div>
  </div>
  <!-- <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzTotal]="totalRecord"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
      (nzPageIndexChange)="pageIndexChange($event)"
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div> -->
</div>
