<div>
  <div nz-row class="table-row">
    <div nz-col [nzSpan]="16" class="filter-row">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Projects"
        nzSuffixIcon="caret-down"
        nzAllowClear="true"
        (ngModelChange)="getProjectId($event)"
        [(ngModel)]="projectId"
      >
        <nz-option
          *ngFor="let project of allprojects"
          [nzValue]="project.id"
          [nzLabel]="project.name"
        ></nz-option>
      </nz-select>
      <nz-select
        nzShowSearch
        nzPlaceHolder="Status"
        nzSuffixIcon="caret-down"
        nzAllowClear="true"
        [(ngModel)]="status"
        (ngModelChange)="getStatus($event)"
      >
        <nz-option nzLabel="In Progress" nzValue="in_Progress"
          >In Progress</nz-option
        >
        <nz-option nzLabel="In Review" nzValue="in_Review">In Review</nz-option>
        <nz-option nzLabel="To Do" nzValue="to_Do">To Do</nz-option>
        <nz-option nzLabel="Done" nzValue="done">Done</nz-option>
      </nz-select>
      <nz-select
        nzShowSearch
        nzPlaceHolder="Assignee"
        nzSuffixIcon="caret-down"
        nzAllowClear="true"
      >
        <!-- <nz-option *ngIf="let member of AllMembers" [nzLabel]="member.name" [nzValue]="member.id"></nz-option> -->
      </nz-select>
    </div>

    <div nz-col [nzSpan]="8" class="table-col">
      <button nz-button class="btn" (click)="addNewTask('create')">
        New Task
      </button>
    </div>
  </div>
  <div class="kanban-board">
    <div
      class="kanban-column"
      *ngFor="let column of columns; let colIndex = index"
      cdkDropList
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="connectedDropListsIds"
      [id]="'cdk-drop-list-' + colIndex"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="kanban-column-header">{{ column.title }}</div>
      <div class="kanban-task-card" *ngFor="let task of column.tasks" cdkDrag>
        <span>{{ task.title }} </span>
        <div class="taskbtns">
          <div class="button">
            <button nz-button class="taskbtn" (click)="editTask(task, 'edit')">
              <img src="./assets/icons/Edit_new.svg" />
            </button>
            <button
              class="taskbtn"
              nz-button
              nz-dropdown
              [nzDropdownMenu]="menu"
              nzPlacement="bottomLeft"
            >
              ...
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="viewTask(task, 'view')">View Task</li>
                <li nz-menu-item (click)="deleteTask(task)">Delete Task</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div>
            <div class="buttontask">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Assignee"
                nzSuffixIcon="caret-down"
                nzAllowClear="true"
                (ngModelChange)="changeAssignee($event, task)"
                [(ngModel)]="assigneeChange"
              >
                <!-- <nz-option
                  *ngFor="let Member of AllMembers"
                  [nzValue]="Member.id"
                  [nzLabel]="Member.name"
                ></nz-option> -->
              </nz-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
