<div class="tab-header">
  <div nz-row>
    <div nz-col nzLg="8">
      <nz-form-control>
        <nz-form-label>Base Country</nz-form-label>
        <nz-form-item>
          <input nz-input placeholder="Azores" />
        </nz-form-item>
      </nz-form-control>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzLg="8">
      <nz-form-control>
        <nz-form-label>Sign up Countries<span class="required-mark">*</span></nz-form-label>
        <div nz-col nzSpan="8" *ngFor="let data of countryData">
          <label nz-checkbox [nzValue]="data.countryId">{{
            data.countryName
          }}</label>
        </div>
      </nz-form-control>
    </div>
  </div>
</div>