<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>

      <div nz-col [nzSpan]="6">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Name
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Name" [(ngModel)]="name" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetNameFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllBenificiaryData()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="6">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu2"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Contact Number
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <input
                  nz-input
                  placeholder="Contact Number"
                  [(ngModel)]="contactNumber"
                />
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetContactFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllBenificiaryData()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <!-- <div nz-col [nzSpan]="4">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu3"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Bank
          </button>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Bank" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button nz-button class="btn btn__high_orange">Reset</button>
                <button nz-button class="btn btn__high_orange">Save</button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->

      <!-- <div nz-col [nzSpan]="4">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu6"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Account Number
          </button>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Account Number" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button nz-button class="btn btn__high_orange">Reset</button>
                <button nz-button class="btn btn__high_orange">Save</button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->

      <!-- <div nz-col [nzSpan]="4">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu4"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Country
          </button>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <nz-select
                  class="dropdown"
                  items="clientNames"
                  nzSuffixIcon="caret-down"
                  bindLabel="clientName"
                  nzPlaceHolder="Country"
                ></nz-select>
              </li>
              <li nz-menu-item class="btn__section">
                <button nz-button class="btn btn__high_orange">Reset</button>
                <button nz-button class="btn btn__high_orange">Save</button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->

      <div nz-col [nzSpan]="6">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu5"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Address
          </button>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Address" [(ngModel)]="address" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetAddressFilter()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllBenificiaryData()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
    </div>
    <div
      nz-col
      class="right-sec"
      *ngIf="this.privileges.CORE_SHOW_ADD_NEW_BENEFICIARY"
    >
      <button class="btn transfer_button" (click)="addnewbeneficiaries()">
        Add New Beneficiary
      </button>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzData]="benificiaryDetails"
      [nzPageSize]="50"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th>
            <div class="border-start-th">NAME</div>
          </th>
          <th>
            <div class="border-middle-th">TELEPHONE NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">HANDPHONE NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">ADDRESS</div>
          </th>
          <th>
            <div class="border-middle-th">BENEFICIARY TYPE</div>
          </th>
          <th *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_STATUS_BUTTON">
            <div class="border-middle-th">STATUS</div>
          </th>
          <th *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_VIEW_REPORT">
            <div class="border-middle-th"></div>
          </th>
          <th *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_EDIT">
            <div class="border-middle-th"></div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="border-middle">{{ data.name }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.telephoneNumber }}</div>
          </td>
          <td>
            <div class="border-middle">
              {{ data.handPhoneNumber }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.address }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.beneficiaryType }}</div>
          </td>
          <td *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_STATUS_BUTTON">
            <div class="border-middle">
              <div class="border-middle">
                <nz-switch
                  nzSize="small"
                  [(ngModel)]="data.isActive"
                  (click)="toggleSwitch(data)"
                ></nz-switch>
              </div>
            </div>
          </td>

          <td *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_VIEW_REPORT">
            <div class="border-middle">
              <img
                class="images"
                src="./assets/icons/Mask group.svg"
                (click)="viewnewcorporate('view', data)"
              />
            </div>
          </td>
          <td *ngIf="this.privileges.CORE_SHOW_BENEFICIARY_EDIT">
            <div class="border-middle">
              <img
                class="images"
                src="./assets/icons/icons8-eye-30.png"
                (click)="viewbeneficiariesdetails('view', data)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentPageIndex"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
