<div class="content">
  <div nz-row class="heading-row">
    <div nz-col [nzLg]="8" class="label">
      <span>SENDER NAME</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>TRANSFERED AMOUNT</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>BENEFICIARY NAME</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ sendername }} </span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ transferdAmout }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ benificaryName }}</span>
      </div>
    </div>
  </div>

  <div nz-row class="heading-row">
    <div nz-col [nzLg]="8" class="label">
      <span>TRANSFER AS</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>RECEIVED AMOUNT</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ transferAs }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ amountRecived }}</span>
      </div>
    </div>
  </div>
</div>
