<div class="credit-bal modal_content">
  <div class="c_bal">
    <span class="para">Is agent credit balance enable</span>
    <div>
      <nz-switch
        nzSize="small"
        [ngModel]="status"
        (ngModelChange)="changeStatus($event)"
      ></nz-switch>
    </div>
  </div>
  <div class="input-sec" *ngIf="statusView == true">
    <form>
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="10" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Agent Name </nz-form-label>
            <nz-form-control>
              <input
                [disabled]="true"
                nz-input
                placeholder="Agent Name"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12"></div>

        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Currency Type <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Currency"
                nzSuffixIcon="caret-down"
                nzAllowClear
                nzShowSearch
              >
                <nz-option nzValue="currencyId" nzLabel="USD"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="10" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Current Balance</nz-form-label>
            <nz-form-control>
              <input
                [disabled]="true"
                nz-input
                placeholder="USD"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12"></div>
        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Threshold value </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Threshold value"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Credit Amount <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Credit Amount"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="18" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Description <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder=" Enter Selling Rate"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="24" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Remarks<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder=" Remarks"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="btn_row">
        <div>
          <button class="btn btn__next">Update</button>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="12" nzXs="12" nzSm="12" nzMd="24">
          <nz-form-item>
            <nz-form-label>Agent Name </nz-form-label>
            <nz-form-control>
              <input
                [disabled]="true"
                nz-input
                type="text"
                placeholder="Agent Name"
                class="modal-input"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <h4 *ngIf="statusView == true">Credit Balance</h4>
  <div class="content" *ngIf="statusView == true">
    <div class="filter-row filter-row">
      <div class="filter-inputs">
        <nz-select
          nzSuffixIcon="caret-down"
          nzPlaceHolder="Currency Type"
          nzShowSearch
        >
        </nz-select>
      </div>
      <div class="filter-inputs input2">
        <nz-date-picker> </nz-date-picker>
      </div>
      <div class="filter-inputs input2">
        <nz-date-picker> </nz-date-picker>
      </div>
    </div>

    <div class="table-container">
      <nz-table [nzPageSize]="50" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>
              <div>DATE</div>
            </th>
            <th>
              <div>DESCRIPTION</div>
            </th>
            <th>
              <div>CREDIT</div>
            </th>
            <th>
              <div>BALANCE</div>
            </th>
            <th>
              <div>REMARKS</div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <div>05/09/2023</div>
            </td>
            <td>
              <div>AGENT01</div>
            </td>
            <td>
              <div>USD</div>
            </td>
            <td>
              <div>THB - Thai bath</div>
            </td>
            <td>
              <div>MONEX</div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="pagination-row">
      <nz-pagination class="pagination"> </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[0] }} of {{ total }} items</span>
      </ng-template>
    </div>
  </div>
</div>
