.main
    padding: 30px 
    background: #fff
    display: flex
    flex-direction: column
    gap: 30px
    height: 89vh


.main-content 
    display: flex
    gap: 100px 

.left
    display: flex
    flex-direction: column
    gap: 30px 
.btn-row  
    display: flex
    gap: 30px  
.btn
    padding: 10px    

:host ::ng-deep .card .ant-card-body
    display: flex
    gap: 40px
    padding: 20px 0px !important

.quick
    background: #5f77a3

.quick:hover
    background: #173266        