<form class="form-figure">
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Company Name </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Company Name" [(ngModel)]="value" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Company Registration Number </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Company Registration Number"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="3" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Owner Name </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Owner Name "
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="2" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Contact Number</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Contact Number"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="3" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!----------------------------------------------------------------------------------------------->

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Email Address </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Email Address"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="2" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Address</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Address"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="3" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------->

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Country </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Country"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="2" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Reference</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Reference"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option nzValue="1" nzLabel="1"></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="3" nzLabel="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------->
</form>

<div>
  <button class="btn btn__next">Save Rate</button>
</div>
