<div class="modal-content">
  <p>
    please check the user identity details and enter the AML<br />
    expired date
  </p>
  <form nz-form [nzLayout]="'vertical'" [formGroup]="amlUpdateForm">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label
            >AML Expired Date<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-date-picker
              formControlName="amlDate"
              [nzDisabledDate]="disabledPastDates"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div nz-row [nzGutter]="[16, 16]" class="btn-row">
    <div nz-col [nzSpan]="6">
      <button nz-button class="btn btn__cancel" (click)="closeModal()">
        Cancel
      </button>
    </div>
    <div nz-col [nzSpan]="6">
      <button nz-button class="btn btn__high_orange" (click)="updateAml()">
        Submit
      </button>
    </div>
  </div>
</div>
