<div>
  <div nz-row class="title-bar">
    <div class="comp_title">Make Transfer</div>
    <div nz-col [nzSpan]="24">
      <div nz-col class="steps-details">
        <nz-steps [nzCurrent]="index">
          <nz-step nzTitle="Transfer Details"></nz-step>
          <nz-step nzTitle="Sender Details"></nz-step>
          <nz-step nzTitle="Beneficiary Details"></nz-step>
          <nz-step nzTitle="Confirmation"></nz-step>
        </nz-steps>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div *ngIf="step == 1" class="heading2">Transfer Details</div>
      <div *ngIf="step == 2" class="heading2">Sender Details</div>
      <div *ngIf="step == 3" class="heading2">Beneficiary Details</div>
      <div *ngIf="step == 4" class="heading2">Confirmation</div>
    </div>
  </div>

  <div>
    <form [formGroup]="maketransferForm">
      <app-transfer-details
        (FirstIndexvalue)="newIndexvalue($event)"
        (agentChange)="onAgentChange($event)"
        (SendingCurrencyChange)="SendingCurrencyChange($event)"
        (receivingCurrencyChange)="receivingCurrencyChange($event)"
        (clearBEnifisaryDetails)="clearBEnifisaryDetails()"
        [allAgents]="allAgents"
        [subAgents]="subAgents"
        [agentReceivingCurrency]="agentReceivingCurrency"
        [transactionMode]="transactionMode"
        [subAgents]="subAgents"
        [affiliateAgents]="affiliateAgents"
        [agentSendingCurrency]="agentSendingCurrency"
        [sendingCurrencyCode]="sendingCurrencyCode"
        [receivingCurrencyId]="receivingCurrencyId"
        [exposableId]="exposableId"
        [paymentModedata]="paymentModedata"
        *ngIf="step === 1"
        formGroupName="makeTransfrFlow1"
      ></app-transfer-details>
      <app-sender-details
        formGroupName="makeTransfrFlow2"
        *ngIf="step === 2"
      ></app-sender-details>
      <app-beneficiary-details
        formGroupName="makeTransfrFlow3"
        *ngIf="step === 3"
        [countryData]="countryData"
        [bankCurrencyList]="bankCurrencyList"
        [referenceData]="referenceData"
        (getRef)="getReference($event)"
      ></app-beneficiary-details>
      <app-confirmation *ngIf="step === 4"></app-confirmation>
    </form>
    <div class="button">
      <div *ngIf="step !== 1">
        <button class="btn btn__goback" (click)="prev()">Go Back</button>
      </div>

      <div *ngIf="step !== 4">
        <button class="btn btn__next" (click)="next()">Next</button>
      </div>

      <div *ngIf="step == 4">
        <button class="btn btn__cancel" (click)="close()">Cancel</button>
      </div>
      <div *ngIf="step == 4">
        <button class="btn btn__next" (click)="submitTranser()">
          Confirmation
        </button>
      </div>
    </div>
  </div>
</div>
