<div class="modal_content">
  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="10" nzMd="10">
      <nz-form-item>
        <nz-form-label
          >Agent Approved Sending Receiving Currencies:
        </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            nzPlaceHolder="Approved Sending Receiving Currencies"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
            [(ngModel)]="selectedCurrency"
          >
            <nz-option
              *ngFor="let data of sendingCurrency_data"
              [nzValue]="data.agentTransferApprovedSendingReceivingCurrenciesId"
              [nzLabel]="data.currencyName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="4" nzMd="4"></div>
    <div nz-col nzLg="10" nzMd="10">
      <nz-form-item>
        <nz-form-label>Agent Approved Receiving Countries: </nz-form-label>
        <nz-form-control>
          <nz-checkbox-wrapper
            style="width: 100%"
            (nzOnChange)="getSelectedCountry($event)"
          >
            <div nz-row *ngFor="let data of countryList">
              <div nz-col nzSpan="24">
                <label nz-checkbox [nzValue]="data">{{
                  data.countryName
                }}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="btn_row">
    <button class="btn btn__cancel" (click)="close()">Cancel</button>
    <button class="btn btn__next" (click)="update()">Update</button>
  </div>
  <div class="table_head">
    <h2>Agent Approved Sending Receiving Countries</h2>
  </div>

  <nz-table
    #approvedCountryTable
    [nzData]="tableData"
    [nzShowPagination]="false"
    class="modal_table"
  >
    <thead>
      <tr>
        <th>AGENT APPROVED SENDING COUNTRIES</th>
        <th>AGENT APPROVED RECEIVING COUNTRIES</th>
      </tr>
    </thead>
    <tbody class="body_tr">
      <tr *ngFor="let data of approvedCountryTable.data">
        <td>
          {{ data.agentApprovedSendingCurrencyName }}
        </td>

        <td>
          {{ data.agentApprovedReceivingCountryName }}
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
