<div class="comp_title">Diagnostic</div>

<div class="modal_content">
  <!-- <form [formGroup]="diagnosticForm"> -->
  <nz-tabset [nzTabBarGutter]="2" class="modal_tabset">
    <nz-tab
      nzTitle="Login Details"
      *ngIf="this.privileges.CORE_SHOW_DIAGNOSTIC_LOGIN_DETAILS"
    >
      <app-login-details></app-login-details>
    </nz-tab>

    <nz-tab
      nzTitle=" Customer Follow Details"
      *ngIf="this.privileges.CORE_SHOW_DIAGNOSTIC_COSTOMER_FOLLOWUP"
    >
      <app-customer-follow-details></app-customer-follow-details>
    </nz-tab>

    <nz-tab
      nzTitle="Customer Transfer Follow Details"
      *ngIf="this.privileges.CORE_SHOW_DIAGNOSTIC_TRANSFER_FOLLOWUP"
    >
      <app-customer-transfer-follow-details></app-customer-transfer-follow-details>
    </nz-tab>

    <nz-tab
      nzTitle="Customer Dual Registration"
      *ngIf="this.privileges.CORE_SHOW_DIAGNOSTIC_DUAL_REGISTRATION"
    >
      <app-customer-dual-registration></app-customer-dual-registration>
    </nz-tab>
  </nz-tabset>
  <!-- </form> -->
</div>
