<div class="table-content">
  <div nz-row class="Title-row">
    <div nz-col nzSpan="12">
      <h4>Transaction Summary</h4>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzData]="tableData"
      [nzPageSize]="50"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th><div>CURRENCY</div></th>
          <th><div>TOTAL AMOUNT (SUCCEEDED)</div></th>
          <th>
            <div>SIX MONTH TOTAL (SUCCEEDED)</div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div>{{ data.currencyCode }}</div>
          </td>
          <td>
            <div>
              {{ data.customerVolumeDetailsDtos[0].amount | number : ".2-2" }}
            </div>
          </td>
          <td>
            <div>
              {{ data.customerVolumeDetailsDtos[1].amount | number : ".2-2" }}
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="table-content">
  <div nz-row class="Title-row">
    <div nz-col nzSpan="12">
      <h4>Transaction Details</h4>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #summaryTable
      [nzData]="summary"
      [nzPageSize]="10"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th><div>Date & Time</div></th>
          <th><div>TRANSFER REFERENCE</div></th>
          <th>
            <div>TRANSFERRED AMOUNT</div>
          </th>
          <th>
            <div>RECEIVED AMOUNT</div>
          </th>
          <th>
            <div>STATUS</div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of summaryTable.data">
          <td>
            <div>{{ data.transactionDate | date : "yyyy-MM-dd h:mm:ss" }}</div>
          </td>
          <td>
            <div>{{ data.transactionReferenceNumber }}</div>
          </td>
          <td>
            <div>{{ data.transferAmount | number : ".2-2" }}</div>
          </td>
          <td>
            <div>{{ data.amountReceived | number : ".2-2" }}</div>
          </td>
          <td>
            <div>{{ data.transactionStatus | titlecase }}</div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- <div class="table-content">
  <div nz-row class="Title-row">
    <div nz-col nzSpan="12">
      <h4>Transaction Details</h4>
    </div>
  </div> -->

<!-- <div class="desktop_only">
    <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
      <div nz-col [nzSpan]="4" class="table-col">
        <span>Date & Time</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>TRANSFER REFERENCE</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>TRANSFERRED AMOUNT</span>
      </div>
      <div nz-col [nzSpan]="5" class="table-col">
        <span>RECEIVED AMOUNT</span>
      </div>
      <div nz-col [nzSpan]="3" class="table-col">
        <span>STATUS</span>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]" class="table-row data-row">
      <div nz-col [nzSpan]="4" class="table-col">
        <span>2023/04/07 9:42:28</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>LKSPX8ZQ2</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>10</span>
      </div>
      <div nz-col [nzSpan]="5" class="table-col">
        <span>2656</span>
      </div>
      <div nz-col [nzSpan]="3" class="table-col">
        <span>Created</span>
      </div>
    </div>
  </div> -->
<div class="pagination-row">
  <nz-pagination
    class="pagination"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalRecords"
    nzShowQuickJumper
    [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="pageIndexChange($event)"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    <span>{{ range[0] }} of {{ total }} items</span>
  </ng-template>
</div>
