<div class="modal_content">
  <div>
    <form class="form-figure input-sec" [formGroup]="benificiaryaccountDetails">
      <div nz-row [nzGutter]="10">
        <div nz-col nzLg="8" nzMd="8">
          <nz-form-item>
            <nz-form-label
              >Country
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Country"
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="country"
                (ngModelChange)="getDynamicLabels($event)"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let data of countryDetails"
                  [nzValue]="data.countryId"
                  [nzLabel]="data.countryName"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="10">
        <div nz-col nzLg="8" nzMd="8">
          <nz-form-item>
            <nz-form-label
              >Bank Name
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                *ngIf="bankCode1 != 1"
                nz-input
                type="text"
                placeholder="Enter Bank Name"
                class="modal-input"
                formControlName="bankName"
                pattern="[A-Za-z\s]+"
                (keypress)="letterOnly($event)"
              />
              <nz-select
                *ngIf="bankCode1 == 1"
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Bank"
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="bankName"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let data of bankNameDetails"
                  [nzValue]="data"
                  [nzLabel]="data.bankname"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8">
          <nz-form-item>
            <nz-form-label
              >Account Number<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Enter Account Number"
                class="modal-input"
                formControlName="accountNumber"
                (keypress)="numberOnly($event)"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8">
          <nz-form-item>
            <nz-form-label
              >Branch Name<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Enter Branch Name"
                class="modal-input"
                formControlName="branchName"
                pattern="[A-Za-z\s]+"
                (keypress)="letterOnly($event)"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="10">
        <div nz-col nzLg="8" nzMd="8">
          <nz-form-item>
            <nz-form-label
              >Currency
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Currency"
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="currency"
                nzShowSearch
              >
                <nz-option
                  *ngFor="let data of currencyDetails"
                  [nzValue]="data.clientCurrencyId"
                  [nzLabel]="data.currencyCode"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          nzLg="8"
          nzMd="8"
          *ngIf="showBankCodeField && bankCode1 != 1"
        >
          <nz-form-item *ngIf="showBankCodeField">
            <nz-form-label
              >Bank Code
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Enter Bank Code"
                class="modal-input"
                formControlName="bankCode"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8" *ngIf="showSwiftCodeField">
          <nz-form-item>
            <nz-form-label
              >Swift Code
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                placeholder="Enter Swift Code"
                class="modal-input"
                formControlName="swiftCode"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8" *ngIf="showRoutingNumber">
          <nz-form-item>
            <nz-form-label
              >Routing Number
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                class="modal-input"
                placeholder="Enter Routing Number"
                formControlName="routingNumber"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8" *ngIf="showIfsc">
          <nz-form-item>
            <nz-form-label
              >Ifsc
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                class="modal-input"
                placeholder="Enter Ifsc"
                formControlName="ifsc"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8" *ngIf="showIban">
          <nz-form-item>
            <nz-form-label
              >Iban
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                class="modal-input"
                placeholder="Enter iban"
                formControlName="iban"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="8" nzMd="8" *ngIf="showBranchCode">
          <nz-form-item>
            <nz-form-label
              >Branch Code
              <span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="text"
                class="modal-input"
                placeholder="Enter branch code"
                formControlName="branchCode"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div class="btn_row">
    <button class="btn btn__next" (click)="addNewBank()">
      Add Bank Account
    </button>
  </div>
  <div class="table_head">
    <h2>Bank Accounts</h2>
  </div>

  <div class="desktop_only">
    <nz-table #columnTable [nzData]="bankDetails">
      <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
        <div nz-col [nzSpan]="3" class="table-col">
          <span>BANK</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>ACCOUNT NUMBER</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>BRANCH</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>BANK CODE</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>SWIFT CODE</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>IFSC</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>IBAN</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>Branch Code</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>Routing Number</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>STATUS</span>
        </div>
      </div>

      <div
        nz-row
        [nzGutter]="[16, 16]"
        *ngFor="let data of columnTable.data"
        class="table-row data-row"
      >
        <div nz-col [nzSpan]="3" class="table-col">
          <span>{{ data.bankName }}</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>{{ data.accountNo }}</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>{{ data.branchName }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.bankCode }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.swiftCode }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.label4 }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.label5 }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.label6 }}</span>
        </div>
        <div nz-col [nzSpan]="2" class="table-col">
          <span>{{ data.routingNumber }}</span>
        </div>
        <div nz-col [nzSpan]="3" class="table-col">
          <span>
            <div>
              <nz-switch
                nzSize="small"
                [(ngModel)]="data.isActive"
                (click)="toggleSwitch(data)"
              ></nz-switch>
            </div>
          </span>
        </div>
      </div>
    </nz-table>
    <div class="pagination-row">
      <nz-pagination
        class="pagination"
        [nzPageSize]="pageSize"
        [nzPageIndex]="currentPageIndex"
        [nzTotal]="totalRecords"
        nzShowQuickJumper
        [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="pageIndexChange($event)"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[0] }} of {{ total }} items</span>
      </ng-template>
    </div>
  </div>
</div>
