<div class="content">
  <div nz-row [nzGutter]="12" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>

      <div nz-col>
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Name
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Name" [(ngModel)]="name" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilterByName()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByName()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu2"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Email
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Email" [(ngModel)]="email" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="resetFilterByEmail()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="filterByEmail()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
    </div>

    <!-- -------------View New Agent Customers------------
---------------------------------------------------- -->

    <div class="platform-link">
      <a nz-button nzType="link" (click)="userManagement()">
        <img src="./assets/icons/view_eye.svg" />
        &nbsp;
        <u>View Existing Customers</u></a
      >
    </div>
  </div>

  <nz-table
    #verifyCustomersTable
    [nzData]="pendingCustomers"
    [nzPageSize]="pageSize"
    [nzShowPagination]="false"
    [nzScroll]="{ x: '1800px' }"
  >
    <thead>
      <tr class="heading_tr">
        <th nzCustomFilter>
          <div class="border-start-th">NAME</div>
        </th>
        <th>
          <div class="border-middle-th">AGENT NAME</div>
        </th>
        <th nzCustomFilter>
          <div class="border-middle-th">EMAIL</div>
        </th>
        <th nzCustomFilter>
          <div class="border-middle-th">CONTACT NUMBER</div>
        </th>
        <th>
          <div class="border-middle-th">ADDRESS</div>
        </th>
        <th nzCustomFilter>
          <div class="border-middle-th">AML CHECK DATE</div>
        </th>
        <th>
          <div class="border-middle-th">REGISTERED FROM</div>
        </th>
        <th>
          <div class="border-middle-th"></div>
        </th>
      </tr>
    </thead>
    <tbody class="body_tr">
      <tr *ngFor="let data of verifyCustomersTable.data">
        <td>
          <div class="border-middle">{{ data.fullName }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.agentName }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.email }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.contactNumber }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.address }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.amlCheckDate }}</div>
        </td>
        <td>
          <div class="border-middle">{{ data.registeredFrom }}</div>
        </td>
        <td>
          <div class="border-middle">
            <a
              style="color: #f45300"
              class="reset-pw-btn"
              (click)="sendEmail(data)"
            >
              Send Mail Again
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="pagination-row">
  <nz-pagination
    class="pagination"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalRecords"
    nzShowQuickJumper
    [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="pageIndexChange($event)"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    <span>{{ range[0] }} of {{ total }} items</span>
  </ng-template>
</div>
