<div class="modal_content">
  <div class="input-sec">
    <form class="form-figure" [formGroup]="accountDetails">
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Agent Name </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Agent Name "
                class="modal-input"
                formControlName="agentName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Wallet <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Wallet"
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="wallet"
                nzShowSearch
              >
                <nz-option nzValue="1" nzLabel="1"></nz-option>
                <nz-option nzValue="2" nzLabel="2"></nz-option>
                <nz-option nzValue="3" nzLabel="3"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Bank <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Bank"
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="bank"
                nzShowSearch
              >
                <nz-option nzValue="1" nzLabel="1"></nz-option>
                <nz-option nzValue="2" nzLabel="2"></nz-option>
                <nz-option nzValue="3" nzLabel="3"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Account Name<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                placeholder="Enter Account Name"
                class="modal-input"
                formControlName="accountName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Account Number<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                placeholder="Enter Account Number"
                class="modal-input"
                formControlName="accountNumber"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div class="row-align">
    <div>Is account details save for base account</div>
    <div>
      <nz-switch nzSize="small"></nz-switch>
    </div>
  </div>

  <div class="btn-row">
    <div>
      <button class="btn btn__cancel">Cancel</button>
    </div>
    <div>
      <button class="btn btn__next" (click)="updateAccountDetails()">
        Update
      </button>
    </div>
  </div>

  <div class="content">
    <div>
      <span style="font-size: 20px; font-weight: 600">Bank Accounts</span>
    </div>
    <div class="table-container">
      <nz-table
        #basicTable
        [nzData]="tableData"
        [nzPageSize]="50"
        [nzShowPagination]="false"
      >
        <thead>
          <tr nz-row>
            <th nz-col nzMd="4">
              <div>BANK</div>
            </th>
            <th nz-col nzMd="4">
              <div>ACCOUNT NUMBER</div>
            </th>
            <th nz-col nzMd="4"><div>ACCOUNT NAME</div></th>
            <th nz-col nzMd="4"><div>BANK CODE</div></th>
            <th nz-col nzMd="3"><div>WALLET</div></th>
            <th nz-col nzMd="5"><div>STATUS</div></th>
          </tr>
        </thead>

        <tbody>
          <tr></tr>
        </tbody>
      </nz-table>
    </div>
    <div class="pagination-row">
      <nz-pagination
        class="pagination"
        [nzPageSize]="1"
        [nzPageIndex]="1"
        [nzTotal]="50"
        nzShowQuickJumper
        [nzShowTotal]="rangeTemplate"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[1 - 0] }} of {{ 0 }} items</span>
      </ng-template>
    </div>
  </div>
</div>
