<div class="tab-header">
  <div nz-col [nzSpan]="24" class="header-section">
    <nz-steps [nzCurrent]="currentStepIndex">
      <nz-step
        nzTitle="Basic Information"
        [nzStatus]="currentStepStatus1"
      ></nz-step>
      <nz-step nzTitle="Countries" [nzStatus]="currentStepStatus2"></nz-step>
      <nz-step nzTitle="Currencies" [nzStatus]="currentStepStatus3"></nz-step>
    </nz-steps>
  </div>
  <div class="step-content">
    <form>
      <app-view-agent-basic *ngIf="step === 1"></app-view-agent-basic>
      <app-view-agent-countries *ngIf="step === 2"></app-view-agent-countries>
      <app-view-agent-currencies *ngIf="step === 3"></app-view-agent-currencies>
    </form>
    <div class="button">
      <div *ngIf="step == 1">
        <button class="btn btn__cancel" (click)="close()">Cancel</button>
      </div>
      <div *ngIf="step !== 1">
        <button class="btn btn__cancel" (click)="prev()">Go Back</button>
      </div>
      <div *ngIf="step !== 3">
        <button class="btn btn__next" (click)="next()">Next</button>
      </div>

      <div *ngIf="step == 3">
        <button class="btn btn__next" (click)="Update()">Confirmation</button>
      </div>
    </div>
  </div>
</div>
