<div nz-row class="title-bar">
  <div class="comp_title">Settings</div>
</div>
<div class="content-figure">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="settingsUpdateForm">
    <div nz-row [nzGutter]="10">
      <div nz-col class="column">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              id="name"
              formControlName="name"
              type="text"
              placeholder="Admin Name"
              [readOnly]="true"
              style="cursor: not-allowed"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col class="column">
        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              id="email"
              formControlName="email"
              type="text"
              placeholder="Admin Email Address"
              [readOnly]="true"
              style="cursor: not-allowed"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="10">
      <div nz-col class="column">
        <nz-form-item>
          <nz-form-label>New Password</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              nz-popover
              nzContent="contentTemplate"
              id="newPassword"
              formControlName="newPassword"
              type="password"
              autocomplete="new-password"
              placeholder="Enter New Password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col class="column">
        <nz-form-item>
          <nz-form-label>Confirm Password</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Enter Confirm Password"
              (change)="checkPassword()"
              autocomplete="new-password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div class="btn-col">
        <button nz-button class="btn btn__orange" (click)="updatesetting()">
          Save Settings
        </button>
      </div>
    </div>
  </form>
</div>
