<div class="modal_content">
  <form class="form-figure" [formGroup]="addUser">
    <div nz-row class="row1" [nzGutter]="10">
      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Company Name </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Company Name"
              class="modal-input"
              formControlName="companyName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Company Registration Number </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Company Registration Number"
              class="modal-input"
              formControlName="companyRegistrationNumber"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="row1" [nzGutter]="10">
      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Owner Name </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Owner Name"
              class="modal-input"
              formControlName="ownerName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Contact Number </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Contact Number"
              class="modal-input"
              formControlName="contactNumber"
              (keypress)="numberOnly($event)"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row class="row1" [nzGutter]="10">
      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Email Address</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Email Address"
              class="modal-input"
              formControlName="emailAddress"
              (change)="checkUsername()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Address </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Address"
              class="modal-input"
              formControlName="address"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row class="row1" [nzGutter]="10">
      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Country </nz-form-label>
          <nz-form-control>
            <nz-select
              class="modal-dropdown"
              bindLabel=""
              nzPlaceHolder="Country"
              nzSuffixIcon="caret-down"
              nzAllowClear
              formControlName="country"
              nzShowSearch
            >
              <nz-option
                *ngFor="let data of AllCountry"
                [nzValue]="data.countryId"
                [nzLabel]="data.referenceCountryCode + '-' + data.countryName"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Reference </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Reference"
              class="modal-input"
              formControlName="reference"
              pattern="[A-Za-z\s]+"
              (keypress)="numberAndLetter_AB($event)"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="row1" [nzGutter]="10">
      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Password </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Password"
              class="modal-input"
              formControlName="password"
              type="password"
              autocomplete="new-password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-item>
          <nz-form-label>Confirm Password </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="Confirm Password"
              class="modal-input"
              formControlName="confirmPassword"
              type="password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="button">
      <div>
        <button class="btn btn__cancel" (click)="cancel()">Cancel</button>
      </div>

      <div>
        <button class="btn btn__next" (click)="addNewUser()">Add User</button>
      </div>
    </div>
  </form>
</div>
