<div class="modal-content">
  <div nz-row [nzGutter]="20" class="Title-row">
    <div nz-col nzSpan="10">
      <h4>Transaction Summary Agent</h4>
    </div>
  </div>
  <div nz-row [nzGutter]="20">
    <div nz-col nzLg="14">
      <nz-form-item>
        <nz-form-label>Select Duration Method </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="select Duration Method"
            nzSuffixIcon="caret-down"
            nzAllowClear
            [(ngModel)]="selectedDuration"
            nzShowSearch
            (ngModelChange)="
              getBenificieryTransactionHistory(); getBenificieryVolumeSummery()
            "
          >
            <nz-option nzValue="SIXMONTHS" nzLabel="SIXMONTHS"></nz-option>
            <nz-option nzValue="DAYS" nzLabel="DAYS"></nz-option>
            <nz-option nzValue="YEAR" nzLabel="YEAR"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="10">
      <nz-form-item>
        <nz-form-label><span></span></nz-form-label>
        <nz-form-control>
          <button class="btn transfer_button" (click)="downloadExcelReport()">
            Download
          </button></nz-form-control
        >
      </nz-form-item>
    </div>
  </div>
  <div class="desktop_only">
    <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
      <div nz-col [nzSpan]="6" class="table-col">
        <span>AGENT NAME</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>SENDING AMOUNT</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>RECEIVING AMOUNT</span>
      </div>
    </div>

    <div
      nz-row
      [nzGutter]="[16, 16]"
      *ngFor="let data of volumeDetails"
      class="table-row data-row"
    >
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.agentName }}</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.sendAmount }}</span>
      </div>
      <div nz-col [nzSpan]="6" class="table-col">
        <span>{{ data.receivedAmount }}</span>
      </div>
    </div>

    <div class="pagination-row">
      <nz-pagination
        class="pagination"
        [nzPageSize]="pageSizeT"
        [nzPageIndex]="currentPageIndexT"
        [nzTotal]="totalRecordsT"
        nzShowQuickJumper
        [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="pageIndexChangeT($event)"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[0] }} of {{ total }} items</span>
      </ng-template>
    </div>
    <br />
    <div class="table-content">
      <div nz-row class="Title-row">
        <div nz-col nzSpan="10">
          <h4>Transaction Summary Sender</h4>
        </div>
      </div>

      <div class="desktop_only">
        <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
          <div nz-col [nzSpan]="6" class="table-col">
            <span>AGENT NAME</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>SENDER NAME</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>SENDING AMOUNT</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>RECEIVING AMOUNT</span>
          </div>
        </div>

        <div
          nz-row
          [nzGutter]="[16, 16]"
          class="table-row data-row"
          *ngFor="let data of volumeDetails"
        >
          <div nz-col [nzSpan]="6" class="table-col">
            <span>{{ data.agentName }}</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>{{ data.senderName }}</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>{{ data.sendAmount }}</span>
          </div>
          <div nz-col [nzSpan]="6" class="table-col">
            <span>{{ data.receivedAmount }}</span>
          </div>
        </div>

        <div class="pagination-row">
          <nz-pagination
            class="pagination"
            [nzPageSize]="pageSizeTT"
            [nzPageIndex]="currentPageIndexTT"
            [nzTotal]="totalRecordsTT"
            nzShowQuickJumper
            [nzShowTotal]="rangeTemplate"
            (nzPageIndexChange)="pageIndexChangeTT($event)"
          >
          </nz-pagination>
          <ng-template #rangeTemplate let-range="range" let-total>
            <span>{{ range[0] }} of {{ total }} items</span>
          </ng-template>
        </div>

        <div class="table-content">
          <div nz-row class="Title-row">
            <div nz-col nzSpan="12">
              <h4>Transaction Details</h4>
            </div>
          </div>

          <div class="desktop_only">
            <nz-table
              #columnTable
              [nzScroll]="{ x: '1000px' }"
              [nzData]="transactionDetails"
              [nzShowPagination]="false"
            >
              <thead>
                <tr class="heading_tr">
                  <th>
                    <div class="border-start-th">DATE</div>
                  </th>
                  <th>
                    <div class="border-middle-th">REFERENCE NUMBER</div>
                  </th>
                  <th>
                    <div class="border-middle-th">AGENT NAME</div>
                  </th>
                  <th>
                    <div class="border-middle-th">SENDER NAME</div>
                  </th>
                  <th>
                    <div class="border-middle-th">CUSTOMER REFERENCE</div>
                  </th>
                  <th>
                    <div class="border-middle-th">SENDING AMOUNT</div>
                  </th>
                  <th>
                    <div class="border-middle-th">RECEIVING AMOUNT</div>
                  </th>
                  <th>
                    <div class="border-middle-th">PAYING BY</div>
                  </th>
                  <th>
                    <div class="border-middle-th">TRANSFER BY</div>
                  </th>
                </tr>
              </thead>
              <tbody class="body_tr" *ngFor="let data of columnTable.data">
                <tr>
                  <td>
                    <div class="border-middle">{{ data.transactionDate }}</div>
                  </td>
                  <td>
                    <div class="border-middle">
                      {{ data.transactionReferenceNumber }}
                    </div>
                  </td>
                  <td>
                    <div class="border-middle">{{ data.agentName }}</div>
                  </td>
                  <td>
                    <div class="border-middle">{{ data.senderName }}</div>
                  </td>
                  <td>
                    <div class="border-middle">
                      {{ data.customerReference }}
                    </div>
                  </td>
                  <td>
                    <div class="border-middle">{{ data.sendAmount }}</div>
                  </td>
                  <td>
                    <div class="border-middle">{{ data.amountReceived }}</div>
                  </td>
                  <td>
                    <div class="border-middle">{{ data.paymentModeDesc }}</div>
                  </td>
                  <td>
                    <div class="border-middle">
                      {{ data.transactionModeDesc }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div class="pagination-row">
        <nz-pagination
          class="pagination"
          [nzPageSize]="pageSize"
          [nzPageIndex]="currentPageIndex"
          [nzTotal]="totalRecords"
          nzShowQuickJumper
          [nzShowTotal]="rangeTemplate"
          (nzPageIndexChange)="pageIndexChange($event)"
        >
        </nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
          <span>{{ range[0] }} of {{ total }} items</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
