<div class="title-bar">
  <div nz-col [nzSpan]="12">
    <div class="comp_title">New Affiliate</div>
  </div>
</div>

<div class="modal_content">

  <nz-tabset [nzTabBarGutter]="2" class="modal_tabset">
    <nz-tab nzTitle="Approval Pending Affiliate"><app-approval-pending-affiliate></app-approval-pending-affiliate>
    </nz-tab>
    <nz-tab nzTitle="Declined Affiliate"><app-declined-affiliate></app-declined-affiliate>
    </nz-tab>
    <nz-tab nzTitle="Verify pending Affiliate">
      <app-verify-pending-affiliate></app-verify-pending-affiliate></nz-tab>
  </nz-tabset>
</div>