<div class="modal-content">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="sendEmailForm">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <nz-form-item style="width: 100%">
          <nz-form-label
            >Email Address<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <input
              nz-input
              type="email"
              formControlName="emailAddress"
              nzPlaceHolder="Enter Email Address"
              [readOnly]="true"
              style="cursor: not-allowed"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <nz-form-item style="width: 100%">
          <nz-form-label
            >Subject<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <nz-select
              class="dropdown"
              nzSuffixIcon="caret-down"
              type="text"
              id="subject"
              formControlName="emailSubject"
              nzPlaceHolder="Enter Subject"
              nzShowSearch
              ><nz-option
                *ngFor="let data of emailSubjects"
                [nzValue]="data.subject"
                [nzLabel]="data.subject"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label
            >Message<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control>
            <angular-editor
              [config]="editorConfig"
              formControlName="message"
              [placeholder]="'Enter message here...'"
            ></angular-editor>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="[16, 16]" class="btn-row">
      <div nz-col [nzSpan]="4">
        <button nz-button class="btn btn__cancel" (click)="closeModal()">
          Cancel
        </button>
      </div>
      <div nz-col [nzSpan]="4">
        <button nz-button class="btn btn__Add" (click)="sendEmail()">
          Send
        </button>
      </div>
    </div>
  </form>
</div>
