<form class="form-figure" [formGroup]="viewApprovalPendingForm">
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Affliate Name
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Sub Agent Name"
            formControlName="subagentName"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Agent Name <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Agent Name"
            formControlName="agentName"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Affliate Reference
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Sub Agent Reference"
            formControlName="subagenReference"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Email
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Email" formControlName="email" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Address <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input nz-input placeholder="Address" formControlName="address" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Registered Date <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Registered Date"
            formControlName="date"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Primary Contact Number
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Primary Contact Number"
            formControlName="primaryContactNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Secondary Contact Number
          <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Secondary Contact Number"
            formControlName="secondaryContactNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Country <span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Base Country"
            formControlName="baseCountry"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row class="row1" [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Base Currency
          <span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Base Currency"
            formControlName="baseCurrency"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
