<nz-layout>
  <nz-header class="desktop-view">
    <nz-space>
      <div class="logo-sec">
        <img
          [routerLink]="['dashboard']"
          routerLinkActive="active"
          src="{{ logo }}"
        />
      </div>
      <span class="devider"></span>
      <div class="heading-title">
        <span>Super Admin</span>
      </div>
      <div class="header-dropdown">
        <button
          nz-button
          class="btn_dropdown btn"
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzTrigger="click"
        >
          <img class="avatar-icon" src="./assets/icons/user-profile.svg" />
          <span>{{ currentUser.sub }}</span>
          <span
            nz-icon
            nzType="caret-down"
            nzTheme="outline"
            class="icon_drop"
          ></span>
        </button>
        <nz-dropdown-menu #menu>
          <ul nz-menu nzSelectable>
            <li nz-menu-item [routerLink]="['settings']">Settings</li>
            <li nz-menu-item [routerLink]="['login']">Logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-space>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <ul nz-menu [nzInlineCollapsed]="isCollapsed" nzMode="inline">
        <li
          nz-menu-item
          [routerLink]="['report']"
          routerLinkActive="active"
          nzMatchRouter
          *ngIf="privileges.CORE_SHOW_REPORTS_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_report_white.svg"
            />
          </div>
          <span class="nav-menu-item">Report</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['make-transfer']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_MAKE_TRANSFER_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_transfer_white.svg"
            />
          </div>
          <span class="nav-menu-item">Make Transfer</span>
        </li>
        <li
          nz-menu-item
          [routerLink]="['user-management']"
          nzMatchRouter
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_USER_MANAGEMENT_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_user_management_white.svg"
            />
          </div>
          <span class="nav-menu-item">User Management</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['role-management']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_ROLE_MANAGEMENT_NAV"
        >
          <div class="nav-menu-icon">
            <img class="default-icon" src="./assets/icons/ph_users-four.svg" />
          </div>
          <span class="nav-menu-item">Role Management</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['transfers']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_TRANSFERS_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_transfer_fee_white.svg"
            />
          </div>
          <span class="nav-menu-item">Transfers</span>
          <span class="trnxCount">{{ transferCount }}</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['Communication']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_COMMUNICATION_NAV"
        >
          <div class="nav-menu-icon">
            <img class="default-icon" src="./assets/icons/communication.svg" />
          </div>
          <span class="nav-menu-item">Communication</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['Diagnostic']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_DIAGNOSTIC_NAV"
        >
          <div class="nav-menu-icon">
            <img class="default-icon" src="./assets/icons/diagnostic.svg" />
          </div>
          <span class="nav-menu-item">Diagnostic</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['promotion']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_PROMOTION_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_promotion_white.svg"
            />
          </div>
          <span class="nav-menu-item">Promotion</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['pending-cash-collection']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_PENDING_CASH_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_credit_balance_white.svg"
            />
          </div>
          <span class="nav-menu-item">Pending Cash Colection</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['transfer-limit']"
          routerLinkActive="active"
          *ngIf="privileges.CORE_SHOW_TRANSFER_LIMIT_NAV"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/mingcute_recycle-fill.svg"
            />
          </div>
          <span class="nav-menu-item">Transfer Limit</span>
        </li>
        <li
          nz-menu-item
          nzMatchRouter
          [routerLink]="['settings']"
          routerLinkActive="active"
        >
          <div class="nav-menu-icon">
            <img
              class="default-icon"
              src="./assets/icons/dash_affliate_rate_white.svg"
            />
          </div>
          <span class="nav-menu-item">Settings</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="dashboard-layout">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
