<div class="content">
  <div nz-row class="heading-row">
    <div nz-col [nzLg]="8" class="label">
      <span>COMPANY NAME</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>COMPANY REGISTERED NUMBER</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>OWNER NAME</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.companyname }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.compayRegNumber }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.ownerName }}</span>
      </div>
    </div>
  </div>
  <div nz-row class="heading-row">
    <div nz-col [nzLg]="8" class="label">
      <span>EMAIL ADDRESS</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>CONTACT NUMBER</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>REFERENCE</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.email }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.contactnumber }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.referenceNumber }}</span>
      </div>
    </div>
  </div>

  <div nz-row class="heading-row">
    <div nz-col [nzLg]="8" class="label">
      <span>ADDRESS</span>
    </div>
    <div nz-col [nzLg]="8" class="label">
      <span>COUNTRY</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.address }}</span>
      </div>
      <div nz-col [nzLg]="8" class="col-data">
        <span>{{ mode.countryName }}</span>
      </div>
    </div>
  </div>
  <div class="btn-row">
    <div>
      <button class="btn btn__cancel" (click)="cancel()">Cancel</button>
    </div>
    <div>
      <button class="btn btn__goback" (click)="declineStatus()">Decline</button>
    </div>
    <div>
      <button class="btn btn__approved" (click)="approveStatus()">
        Approve
      </button>
    </div>
  </div>
</div>
