<div class="modal_content">
  <div class="notification">
    <div class="open_bal">
      <div class="switch">
        <span class="para">Opening Balance Notifications</span>

        <nz-switch nzSize="small" [(ngModel)]="isOpeningBalance"></nz-switch>
      </div>
      <div>
        <nz-radio-group [(ngModel)]="openingBal">
          <label nz-radio-button nzValue="Daily">Daily </label>
          <label nz-radio-button nzValue="Weekly">Weekly</label>
          <label nz-radio-button nzValue="Monthly">Monthly</label>
        </nz-radio-group>
      </div>
    </div>
    <div class="closing_bal">
      <div class="switch">
        <span class="para"> Closing Balance Notifications</span>
        <div>
          <nz-switch nzSize="small" [(ngModel)]="isClosingBalance"></nz-switch>
        </div>
      </div>
      <div>
        <nz-radio-group [(ngModel)]="closingBal">
          <label nz-radio-button nzValue="Daily">Daily </label>
          <label nz-radio-button nzValue="Weekly">Weekly</label>
          <label nz-radio-button nzValue="Monthly">Monthly</label>
        </nz-radio-group>
      </div>
    </div>
  </div>

  <div class="switch_1">
    <span class="para">Credit Amount Threshold Reach Notifications</span>
    <div>
      <nz-switch nzSize="small" [(ngModel)]="isCreditAmount"></nz-switch>
    </div>
  </div>

  <div class="btn_row">
    <button class="btn btn__cancel">Cancel</button>
    <button class="btn btn__next" (click)="saveAgentNotification()">
      Update
    </button>
  </div>
</div>
