<!-- <div class="form-figure"> -->
<div nz-row class="row1" [nzGutter]="10">
  <div
    class="row-align"
    nz-col
    [nzSpan]="8"
    *ngFor="let data of subAgentPrivilages"
  >
    <div class="row-align" nz-col nzLg="20">
      <span class="label">{{ data.privilegeDescription }}</span>
    </div>

    <div nz-col nzLg="4">
      <nz-switch
        [ngModel]="data.isActive"
        nzSize="small"
        (click)="changeROleStatus(data)"
      ></nz-switch>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------->

<!-- <div nz-row class="btn_row">
    <button nz-col nzLg="4" class="btn btn__cancel">Cancel</button>
    <button nz-col nzLg="4" class="btn btn__next">Assign</button>
  </div> -->
<!-- </div> -->
