<form class="form-body" [formGroup]="addNewPersonal">
  <!------------------------------------------------------------------------------------------------->
  <div class="custome-filter">
    <div nz-row [nzGutter]="2">
      <nz-form-item nz-col nzLg="3" nzXs="24" nzSm="12" nzMd="12">
        <nz-form-label
          ><span>Beneficiary Type:</span>
          <sup
            ><span
              nz-icon
              nzType="info-circle"
              nzTheme="outline"
              style="color: #f45300"
              [nz-tooltip]="
                !isCoporate
                  ? 'For corporate beneficiary move the switch to right'
                  : 'For personal beneficiary move the switch to left'
              "
            ></span
          ></sup>
        </nz-form-label>
      </nz-form-item>

      <div class="switch_row">
        <div nz-col>
          <p class="switch switch__personal" *ngIf="!mySwitchValue">Personal</p>
          <p
            class="switch switch__personal"
            *ngIf="mySwitchValue"
            style="color: #828282"
          >
            Personal
          </p>
          <!-- <p class="switch switch__personal" *ngIf="mySwitchValue === true">Personal</p> -->
        </div>

        <div nz-col>
          <nz-switch
            nzSize="small"
            (ngModal)="(mySwitchValue)"
            (click)="onSwitchChange()"
          ></nz-switch>
        </div>

        <div nz-col>
          <p
            class="switch switch__coporate"
            *ngIf="!mySwitchValue"
            style="color: #828282"
          >
            Corporate
          </p>
          <p
            class="switch switch__coporate"
            *ngIf="mySwitchValue"
            style="color: #f45300"
          >
            Corporate
          </p>
          <!-- <p class="switch switch__coporate" *ngIf="!isCoporate">Corporate</p> -->
        </div>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="10" *ngIf="!mySwitchValue">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          First Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="First Name"
            class="modal-input"
            formControlName="pFirstName"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Last Name<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Last Name"
            class="modal-input"
            formControlName="pLastName"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="3" nzXs="7" nzSm="7" nzMd="24">
      <nz-form-item>
        <nz-form-label>Code</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="pcocode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of countryCodeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="5" nzXs="9" nzSm="9" nzMd="4">
      <nz-form-item>
        <nz-form-label>Contact Number </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Contact Number "
            class="modal-input"
            formControlName="pContactNumber"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- ---------------------------------- compnay details -->
  <div nz-row [nzGutter]="10" *ngIf="mySwitchValue">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8">
      <nz-form-item>
        <nz-form-label>
          Company Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Company Name"
            class="modal-input"
            formControlName="companyname"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="8" nzSm="4" nzMd="2" nzLg="3">
      <nz-form-item>
        <nz-form-label>Code</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="cCoCode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of countryCodeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="16" nzSm="8" nzMd="6" nzLg="5">
      <nz-form-item>
        <nz-form-label>Contact Number </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Contact Number "
            class="modal-input"
            formControlName="cContactNumber"
            (keypress)="numberOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="8" nzSm="4" nzMd="2" nzLg="3">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="cmocode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of countryCodeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="16" nzSm="8" nzMd="6" nzLg="5">
      <nz-form-item>
        <nz-form-label
          >Mobile Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            (keypress)="numberOnly($event)"
            placeholder="Mobile Number "
            class="modal-input"
            formControlName="cmoNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="10" *ngIf="mySwitchValue">
    <div nz-col nzLg="16" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Address<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Address"
            class="modal-input"
            formControlName="cAddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->
  <div nz-row [nzGutter]="10" *ngIf="!mySwitchValue">
    <div nz-col nzLg="3" nzXs="7" nzSm="7" nzMd="24">
      <nz-form-item>
        <nz-form-label>Code<span class="required-mark">*</span></nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="pmoCode"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of countryCodeDetails"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="5" nzXs="9" nzSm="9" nzMd="4">
      <nz-form-item>
        <nz-form-label
          >Mobile Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            (keypress)="numberOnly($event)"
            placeholder="Mobile Number"
            class="modal-input"
            formControlName="pMobileNumber"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="16" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label>
          Address<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Address"
            class="modal-input"
            formControlName="pAddress"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="10" *ngIf="!mySwitchValue">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item>
        <nz-form-label
          >Date Of Birth<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <nz-date-picker
            formControlName="dob"
            nzPlaceHolder="Date Of Birth"
            [nzDisabledDate]="disabledDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Place Of Birth<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            placeholder="Place Of Birth"
            class="modal-input"
            formControlName="pob"
            pattern="[A-Za-z\s]+"
            (keypress)="letterOnly($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Nationality </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            bindLabel=""
            nzPlaceHolder="Select Nationality"
            nzSuffixIcon="caret-down"
            nzAllowClear
            formControlName="Nationality"
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of nationalityData"
              [nzValue]="data.nationalityDetailsId"
              [nzLabel]="data.nationality"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
