<div class="content">
  <div nz-row class="heading-row">
    <div nz-col [nzLg]="6" class="label">
      <span>TRANSFER NUMBER</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>TRANSFERED AMOUNT</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>DATE</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>SENDER NAME</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.invoiceTransferNumber }}</span>
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span
          >{{ details.sendingCurrency }}
          {{ details.sentAmount | number : "1.2-2" }}</span
        >
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.invoiceDate }}</span>
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.invoiceSenderName }}</span>
      </div>
    </div>
  </div>
  <div nz-row class="heading-row">
    <div nz-col [nzLg]="6" class="label">
      <span>TRANSFER FEE</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>BENEFICIARY NAME</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>TRANSFER AS</span>
    </div>
    <div nz-col [nzLg]="6" class="label">
      <span>RECEIVED AMOUNT</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.transferFee | number : "1.2-2" }}</span>
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.beneficiaryFirstName }}</span>
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span>{{ details.invoiceTransferAs }}</span>
      </div>
      <div nz-col [nzLg]="6" class="col-data">
        <span
          >{{ details.recipientCurrency }}
          {{ details.beneficiaryAmountReceive | number : "1.2-2" }}</span
        >
      </div>
    </div>
  </div>

  <div nz-row class="heading-row">
    <div nz-col [nzLg]="12" class="label">
      <span>TRANSFER Reference</span>
    </div>
  </div>

  <div>
    <div nz-row class="data-row">
      <div nz-col [nzLg]="12" class="col-data">
        <span>{{ details.invoiceReference }}</span>
      </div>
    </div>
  </div>
</div>
