<form class="form-figure" [formGroup]="viewTransferGroupForm">
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Amount to be Sent </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            class="modal-input"
            placeholder="Amount to be Sent"
            formControlName="amountTobeSent"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Transfer As </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Transfer As"
            class="modal-input"
            formControlName="transferAs"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Recipient Currency </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Recipient Currency"
            class="modal-input"
            formControlName="recipientCurrency"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div nz-row class="row1" [nzGutter]="20">
    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Sending Currency </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Sending Currency"
            class="modal-input"
            formControlName="sendingCurrency"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Beneficiary will Receive </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Beneficiary will Receive"
            class="modal-input"
            formControlName="beneficiarywillReceive"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="12" nzMd="12">
      <nz-form-item>
        <nz-form-label>Total Amount Payable </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Total Amount Payable"
            class="modal-input"
            formControlName="totalAmountPayable"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------->
</form>
