<div class="modal_content">
  <div class="input-sec">
    <form [formGroup]="ratesettingform">
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="10" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Agent Name </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Agent Name"
                class="modal-input"
                formControlName="AgentName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12"></div>

        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Currency Type <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder="Select Currency"
                nzSuffixIcon="caret-down"
                nzShowSearch
                nzAllowClear
                formControlName="currencyType"
              >
                <nz-option
                  *ngFor="let data of currency_data"
                  [nzValue]="data.currencyId"
                  [nzLabel]="data.currencyDesc"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="10" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label>Agent Base Currency </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Agent Base Currency"
                class="modal-input"
                formControlName="agentBaseCurrency"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzLg="2" nzXs="24" nzSm="12" nzMd="12"></div>
        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12">
          <nz-form-item>
            <nz-form-label
              >Provider Type <span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <nz-select
                class="modal-dropdown"
                bindLabel=""
                nzPlaceHolder=" Select Provider Type"
                nzShowSearch
                nzSuffixIcon="caret-down"
                nzAllowClear
                formControlName="ProviderType"
              >
                <nz-option nzValue="MONEX" nzLabel="MONEX"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12"></div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Buying Rate<span class="required-mark">*</span></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder="Enter Buying Rate"
                class="modal-input"
                formControlName="BuyingRate"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Selling Rate<span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder=" Enter Selling Rate"
                class="modal-input"
                formControlName="SellingRate"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12"></div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Maximum Buying Rate<span class="required-mark"
                >*</span
              ></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder=" Enter Maximum Buying Rate"
                class="modal-input"
                formControlName="MaximumBuyingRate"
                (keypress)="checkpositive($event, 'Maximum Buying Rate')"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Minimum Buying Rate<span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder="Enter Minimum Buying Rate"
                class="modal-input"
                formControlName="MinimumBuyingRate"
                (keypress)="checkpositive($event, 'Minimum Buying Rate')"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row class="row1" [nzGutter]="10">
        <div nz-col nzLg="12" nzXs="24" nzSm="12" nzMd="12"></div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label>
              Maximum Selling Rate<span class="required-mark"
                >*</span
              ></nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder="Enter Maximum Selling Rate"
                class="modal-input"
                formControlName="MaximumSellingRate"
                (keypress)="checkpositive($event, 'Maximum Selling Rate')"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="24">
          <nz-form-item>
            <nz-form-label
              >Minimum Selling Rate<span class="required-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="number"
                placeholder="Enter Minimum Selling Rate"
                class="modal-input"
                formControlName="MinimumSellingRate"
                (keypress)="checkpositive($event, 'Minimum Selling Rate')"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="btn_row">
        <div>
          <button class="btn btn__cancel" (click)="cancel()">Cancel</button>
        </div>
        <div>
          <button class="btn btn__next" (click)="update()">Update</button>
        </div>
      </div>
    </form>
  </div>
  <h4>Rate Setting</h4>
  <div class="content">
    <div class="filter-row filter-row">
      <div class="filter-inputs">
        <nz-select
          nzSuffixIcon="caret-down"
          nzPlaceHolder="Provider-Type"
          nzShowSearch
          nzAllowClear
          [(ngModel)]="providerType"
          (ngModelChange)="getAllCurrencyRate()"
        >
          <nz-option
            *ngFor="let data of provider_data"
            [nzValue]="data.providerName"
            [nzLabel]="data.providerName"
          ></nz-option>
        </nz-select>
      </div>
      <div class="filter-inputs">
        <nz-select
          nzSuffixIcon="caret-down"
          nzPlaceHolder="Currency-Type"
          nzShowSearch
          nzAllowClear
          [(ngModel)]="currencyId"
          (ngModelChange)="getAllCurrencyRate()"
        >
          <nz-option
            *ngFor="let data of currency_data"
            [nzValue]="data.currencyId"
            [nzLabel]="data.currencyDesc"
          ></nz-option>
        </nz-select>
      </div>
    </div>

    <div class="table-container">
      <nz-table
        #basicTable
        [nzData]="tableData"
        [nzPageSize]="50"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th>
              <div>DATE</div>
            </th>
            <th>
              <div>AGENT</div>
            </th>
            <th>
              <div>BASE CURRENCY</div>
            </th>
            <th>
              <div>TARGET CURRENCY</div>
            </th>
            <th>
              <div>PROVIDER TYPE</div>
            </th>
            <th>
              <div>BUYING RATE</div>
            </th>
            <th>
              <div>SELLING RATE</div>
            </th>
            <th>
              <div></div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <div>{{ data.date }}</div>
            </td>
            <td>
              <div>{{ data.agent }}</div>
            </td>
            <td>
              <div>
                {{ data.baseCurrency }}
              </div>
            </td>
            <td>
              <div>
                {{ data.targetCurrency }}
              </div>
            </td>
            <td>
              <div>{{ data.providerType }}</div>
            </td>
            <td nz>
              <div>{{ data.buyingRate }}</div>
            </td>
            <td>
              <div>{{ data.sellingRate }}</div>
            </td>
            <td>
              <div>
                <img
                  class="images"
                  src="./assets/icons/edit.svg"
                  (click)="edit(data)"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="pagination-row">
      <nz-pagination
        class="pagination"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageNumber"
        [nzTotal]="totalRecords"
        nzShowQuickJumper
        [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="pageIndexChange($event)"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span>{{ range[0] }} of {{ total }} items</span>
      </ng-template>
    </div>
  </div>
</div>
