<div class="model">
  <div class="modal-content">
    <h3 class="head3">Reset Password</h3>
    <form
      nz-form
      [nzLayout]="'vertical'"
      [nzAutoTips]="autoTips"
      [formGroup]="forgotPasswordForm"
    >
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label
              >New Password<span class="required-mark"> * </span>
            </nz-form-label>
            <nz-form-control>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="New Pasword"
                class="forgot-input"
                formControlName="newPassword"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label
              >Confirm Password<span class="required-mark"> * </span>
            </nz-form-label>
            <nz-form-control>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Confirm Password"
                class="forgot-input"
                formControlName="confiremPassword"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="btn-row">
        <button nz-button class="btn btn-design cancel-btn" (click)="cancel()">
          Cancel
        </button>
        <button nz-button class="btn btn-design submit-btn" (click)="submit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
