<div class="content">
  <div nz-row [nzGutter]="10" class="filter-section">
    <div class="filter-row filter-row2">
      <span class="filter-txt">Filter by:</span>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Name
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="User Name" [(ngModel)]="name" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu2"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Email
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Email" [(ngModel)]="email" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div nz-col [nzSpan]="5">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu3"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Contact Number
          </button>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="Contact Number"
                    [(ngModel)]="contactNumber"
                  />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <!-- <div nz-col [nzSpan]="3">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu6"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Reference Number
          </button>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="Customer Ref."
                    [(ngModel)]="customerRef"
                  />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->

      <div nz-col [nzSpan]="3">
        <ng-container>
          <button
            nz-button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu4"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Agent Name
          </button>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <input
                  nz-input
                  placeholder="Agent Name."
                  [(ngModel)]="agentName"
                />
                <!-- <nz-select
                  class="dropdown"
                  items="clientNames"
                  nzSuffixIcon="caret-down"
                  bindLabel="clientName"
                  nzPlaceHolder="Select Agent Name"
                  [(ngModel)]="agentName"
                ></nz-select> -->
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <!-- <div nz-col [nzSpan]="3">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu7"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Owner Name
          </button>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input
                    nz-input
                    placeholder="Owner  Name"
                    [(ngModel)]="ownerName"
                  />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->

      <!-- <div nz-col [nzSpan]="3">
        <ng-container>
          <button
            nz-dropdown
            class="filter_btn"
            [nzDropdownMenu]="menu5"
            nzPlacement="bottomCenter"
            [nzClickHide]="false"
            nzTrigger="click"
          >
            Address
          </button>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <div class="ref-select">
                  <input nz-input placeholder="Address" [(ngModel)]="address" />
                </div>
              </li>
              <li nz-menu-item class="btn__section">
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="reset()"
                >
                  Reset
                </button>
                <button
                  nz-button
                  class="btn btn__high_orange"
                  (click)="getAllCorporateUser()"
                >
                  Save
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div> -->
    </div>
    <div nz-col class="right-sec">
      <div>
        <a nz-button nzType="link" [routerLink]="['coporate-user']">
          <img src="./assets/icons/view_eye.svg" /> &nbsp;
          <u>View New Corporate users </u></a
        >
      </div>
    </div>
  </div>

  <div class="table-container">
    <nz-table
      #basicTable
      [nzScroll]="{ x: '1800px' }"
      [nzData]="corporateUserDetails"
      [nzShowPagination]="false"
    >
      <thead>
        <tr class="heading_tr">
          <th>
            <div class="border-start-th">REFERENCE NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">OLD REFERENCE</div>
          </th>
          <th>
            <div class="border-middle-th">NAME</div>
          </th>
          <th>
            <div class="border-middle-th">AGENT NAME</div>
          </th>
          <th>
            <div class="border-middle-th">OWNER NAME</div>
          </th>
          <th>
            <div class="border-middle-th">REGISTERED DATE</div>
          </th>
          <th>
            <div class="border-middle-th">EMAIL</div>
          </th>
          <th>
            <div class="border-middle-th">CONTACT NUMBER</div>
          </th>
          <th>
            <div class="border-middle-th">ADDRESS</div>
          </th>
          <th>
            <div class="border-middle-th">AML CHECK DATE</div>
          </th>
          <th>
            <div class="border-middle-th">STATUS</div>
          </th>
          <th>
            <div class="border-middle-th"></div>
          </th>
          <th
            *ngIf="
              this.privileges.CORE_SHOW_AGENT_CUSTOMER_VIEW_COPORATE_ENABLE
            "
          >
            <div class="border-middle-th"></div>
          </th>
        </tr>
      </thead>

      <tbody class="body_tr">
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="border-middle">{{ data.customerRef }}</div>
          </td>
          <td>
            <div class="border-middle">-</div>
          </td>
          <td>
            <div class="border-middle">
              {{ data.fullName }}
            </div>
          </td>
          <td>
            <div class="border-middle">{{ data.agentName }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.ownerName }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.registeredDate }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.email }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.contactNumber }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.address }}</div>
          </td>
          <td>
            <div class="border-middle">{{ data.amlCheckDate }}</div>
          </td>
          <td>
            <div class="border-middle">
              <div class="border-middle">
                <nz-switch
                  nzSize="small"
                  [(ngModel)]="data.isActive"
                  (click)="changeStatus(data)"
                ></nz-switch>
              </div>
            </div>
          </td>
          <td>
            <div class="border-middle">
              <img
                class="email_img"
                src="./assets/icons/mail-icon.svg"
                (click)="sendEmail(data.email)"
              />
            </div>
          </td>
          <td
            *ngIf="
              this.privileges.CORE_SHOW_AGENT_CUSTOMER_VIEW_COPORATE_ENABLE
            "
          >
            <div class="border-middle">
              <img
                class="images"
                src="./assets/icons/icons8-eye-30.png"
                (click)="addNotes(data)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="currentpage"
      [nzTotal]="totalRecords"
      nzShowQuickJumper
      (nzPageIndexChange)="pageIndexChange($event)"
      [nzShowTotal]="rangeTemplate"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div>
</div>
