<form
  class="form-figure"
  [formGroup]="maketransferForm"
  *ngIf="!isButtonClicked"
>
  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Sender </nz-form-label>
        <nz-select
          nzAllowClear
          [nzShowSearch]="true"
          nzSuffixIcon="search"
          class="modal-dropdown"
          placeholder="Search Sender"
          formControlName="searchSender"
          (nzOnSearch)="searchrxjs($event)"
          (change)="onChangeSender($event)"
          (ngModelChange)="patchForm($event)"
          nzShowSearch
          nzDisabled
        >
          <nz-option
            *ngFor="let o of searchResult"
            [nzLabel]="o.nameEmail"
            [nzValue]="o"
          ></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Filter By </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="filterBy"
            bindLabel=""
            nzPlaceHolder="Name"
            style="background-color: #f2f2f2"
            nzSuffixIcon="caret-down"
            nzAllowClear
            [nzDisabled]="true"
            nzShowSearch
          >
            <nz-option nzValue="name" nzLabel="Name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label> </nz-form-label>
        <nz-form-control>
          <button
            class="btn_blue"
            *ngIf="isSenderNotAvailable === false"
            nz-button
            nzType="primary"
            (click)="createSender()"
            nzBlock
          >
            Sender not available? Create a Sender
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!------------------------------------------------------------------------------------------------->
  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="12" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sender First Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Sender First Name"
            formControlName="firstName"
            class="modal-input"
            (ngModelChange)="getsender()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="12" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Sender Last Name<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Sender Last Name"
            formControlName="lastName"
            class="modal-input"
            (ngModelChange)="getsender()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!------------------------------------------------------------------------------------------------->
  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="2" nzXs="4" nzSm="4" nzMd="4">
      <nz-form-item>
        <nz-form-label>Code</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="codePhone"
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
              *ngFor="let data of countryCodeData"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="4">
      <nz-form-item>
        <nz-form-label
          >Laneline Number<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Landline Number"
            formControlName="landLineNumber"
            class="modal-input"
            (ngModelChange)="getsender()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="2" nzXs="5" nzSm="4" nzMd="4">
      <nz-form-item>
        <nz-form-label>Code</nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="codeMobile"
            nzPlaceHolder="Code"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of countryCodeData"
              [nzValue]="data.countryCodeId"
              [nzLabel]="data.phonePrefix"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="6" nzXs="6" nzSm="6" nzMd="4">
      <nz-form-item>
        <nz-form-label
          >Mobile Number<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Mobile Number"
            formControlName="mobileNumber"
            class="modal-input"
            (ngModelChange)="getsender()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Email Address<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            placeholder="Email Address"
            formControlName="email"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->

  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >Residential Address<span class="required-mark"
            >*</span
          ></nz-form-label
        >
        <nz-form-control>
          <input
            nz-input
            type="text"
            formControlName="residentalAddress"
            placeholder="Residential Address"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>City</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            formControlName="city"
            placeholder="City"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>State/Province </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            formControlName="state"
            placeholder="State/Province"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!------------------------------------------------------------------------------------------------------------------->

  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Country </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="country"
            bindLabel=""
            nzPlaceHolder="Select Country"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.clientCountryId"
              [nzLabel]="data.countryName"
              *ngFor="let data of countryData"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12" class="code2">
      <nz-form-item>
        <nz-form-label>Nationality </nz-form-label>
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="nationality"
            nzPlaceHolder="Select Nationality"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              [nzValue]="data.nationalityDetailsId"
              [nzLabel]="data.nationality"
              *ngFor="let data of nationalityData"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label>Postal code/Zip</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="postalCode"
            placeholder="Postal code/Zip"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="10">
    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12" class="code2">
      <nz-form-item>
        <nz-form-label
          >ID Type<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control>
          <nz-select
            class="modal-dropdown"
            formControlName="idType"
            bindLabel=""
            nzPlaceHolder="ID Type"
            nzSuffixIcon="caret-down"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              *ngFor="let data of agentIdentityData"
              [nzLabel]="data.identiyModeDesc"
              [nzValue]="data.identityModeId"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >ID Number<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            formControlName="idNumber"
            placeholder="ID Number"
            class="modal-input"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzLg="8" nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label
          >ID Expiry Date<span class="required-mark">*</span>
        </nz-form-label>
        <nz-form-control nzSpan="">
          <nz-date-picker
            nzPlaceHolder="Select date"
            [nzShowToday]="false"
            nzFormat="dd-MM-yyyy"
            class="custom-date-picker"
            id="idexpireDate"
            formControlName="idexpireDate"
            (ngModelChange)="date()"
            [nzDisabledDate]="disabledDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div *ngFor="let data of transactionSummaryData">
  <div class="summary">{{ data.title }}-{{ data.amount }}</div>
</div>
