<div class="form-content">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="secondrydentityUploadForm">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label
            >Secondry ID Type<span class="required-mark">*</span></nz-form-label
          >
          <nz-form-control nzSpan="">
            <nz-select
              class="dropdown"
              items="identityTypes"
              nzSuffixIcon="caret-down"
              nzPlaceHolder="Select Secondary ID Type"
              formControlName="secondaryIdType"
              nzShowSearch
            >
              <nz-option
                nzValue="UtilityBills"
                nzLabel="Utility Bills"
              ></nz-option>
              <nz-option
                nzValue="councilTaxBill"
                nzLabel="Council Tax Bill"
              ></nz-option>
              <nz-option
                nzValue="bankStatement"
                nzLabel="Bank Statement"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label>Upload Secondary ID * </nz-form-label>
          <nz-form-control nzSpan="">
            <div nz-row nzType="flex" class="img-upload-box">
              <img
                *ngIf="secondaryAvatarUrl"
                [src]="secondaryAvatarUrl"
                class="img-preview"
              />
              <nz-upload
                class="upload"
                [(nzFileList)]="secondaryFileList"
                [nzShowButton]="secondaryFileList.length < 1"
                [nzRemove]="removeSecondaryData"
                [nzBeforeUpload]="beforeSecondaryUpload"
                [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
                [nzLimit]="1"
              >
                <button nz-button id="frontBtn" class="upload-btn">
                  <img src="./assets/icons/cloud-upload.svg" />
                  <p class="img-upload-para">
                    Drag and Drop file here to upload
                  </p>
                  <p
                    class="img-upload-para"
                    style="font-size: 12px; font-style: italic"
                  >
                    *.jpeg, *.jpg, *.png & *.bmp images only
                  </p>
                </button>
              </nz-upload>
              <span
                nz-icon
                nzType="eye"
                nzTheme="outline"
                *ngIf="secondaryAvatarUrl"
                class="view-preview-icon"
                (click)="viewSecondaryIdPreview()"
              ></span>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]" class="btn-row">
      <div nz-col [nzSpan]="4">
        <button nz-button class="btn btn__cancel" (click)="clear()">
          Cancel
        </button>
      </div>
      <div nz-col [nzSpan]="4">
        <button nz-button class="btn" (click)="update()">Upload</button>
      </div>
    </div>
  </form>
</div>
<nz-modal
  [(nzVisible)]="previewModalVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleCancelPdf()"
  [nzFooter]="null"
  ><ng-container *nzModalContent>
    <img
      *ngIf="viewSecondary"
      [src]="secondaryAvatarUrl"
      class="modal-img-preview"
    />
  </ng-container>
</nz-modal>

<!-- <nz-modal [(nzVisible)]="previewModalPdf" [nzFooter]="null" nzWidth="880" (nzOnCancel)="handleCancelPdf()"><ng-container *nzModalContent>
    <pdf-viewer [src]="pdfpath" style="height: auto;object-fit: cover;"></pdf-viewer>
</ng-container>
  
</nz-modal> -->

<div class="table-content">
  <div nz-row class="table-title-row">
    <div nz-col [nzSpan]="24">
      <h4>Uploaded Files</h4>
    </div>
  </div>
  <div style="padding-bottom: 25px">
    <div nz-row [nzGutter]="[16, 16]" class="table-row heading-row">
      <div nz-col [nzSpan]="8" class="table-col">
        <span>UPLOADED DATE</span>
      </div>
      <div nz-col [nzSpan]="8" class="table-col">
        <span>FILE NAME</span>
      </div>
      <div nz-col [nzSpan]="8" class="table-col">
        <span>ID/FILE TYPE</span>
      </div>
    </div>

    <div
      nz-row
      [nzGutter]="[16, 16]"
      class="table-row data-row"
      *ngFor="let data of customerData"
    >
      <div nz-col [nzSpan]="8" class="table-col">
        <span>{{ data.uploadedDate | date : "yyyy-MM-dd" }}</span>
      </div>

      <div nz-col [nzSpan]="8" class="table-col">
        <span>{{ data.fileName }}</span>
      </div>
      <div nz-col [nzSpan]="8" class="table-col">
        <span>{{ data.fileType }}</span>
      </div>
    </div>
  </div>

  <!-- <div class="pagination-row">
    <nz-pagination
      class="pagination"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzTotal]="totalRecord"
      nzShowQuickJumper
      [nzShowTotal]="rangeTemplate"
      (nzPageIndexChange)="pageIndexChange($event)"
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      <span>{{ range[0] }} of {{ total }} items</span>
    </ng-template>
  </div> -->
</div>
